<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizHotlMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizHotl">
	<id column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="country_code" jdbcType="VARCHAR" property="countryCode" />
	<result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
	<result column="city_code" jdbcType="VARCHAR" property="cityCode" />
	<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
	<result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
	<result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
	<result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_fax" jdbcType="VARCHAR" property="hotelFax" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
    <result column="creat_cy" jdbcType="VARCHAR" property="creatCy" />
	<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="com.hotel.admin.model.BizHotl">
    insert into biz_hotl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hotelCode != null">
        hotel_code,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="hotelType != null">
        hotel_type,
      </if>
      <if test="hotelLevel != null">
        hotel_level,
      </if>
      <if test="hotelCname != null">
        hotel_cname,
      </if>
      <if test="hotelEname != null">
        hotel_ename,
      </if>
      <if test="hotelAddr != null">
        hotel_addr,
      </if>
      <if test="hotelPhone != null">
        hotel_phone,
      </if>
      <if test="hotelFax != null">
        hotel_fax,
      </if>
      <if test="hotelWeb != null">
        hotel_web,
      </if>
      <if test="creatCy != null">
        creat_cy,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hotelCode != null">
        #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelType != null">
        #{hotelType,jdbcType=VARCHAR},
      </if>
      <if test="hotelLevel != null">
        #{hotelLevel,jdbcType=VARCHAR},
      </if>
      <if test="hotelCname != null">
        #{hotelCname,jdbcType=VARCHAR},
      </if>
      <if test="hotelEname != null">
        #{hotelEname,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddr != null">
        #{hotelAddr,jdbcType=VARCHAR},
      </if>
      <if test="hotelPhone != null">
        #{hotelPhone,jdbcType=VARCHAR},
      </if>
      <if test="hotelFax != null">
        #{hotelFax,jdbcType=VARCHAR},
      </if>
      <if test="hotelWeb != null">
        #{hotelWeb,jdbcType=VARCHAR},
      </if>
      <if test="creatCy != null">
        #{creatCy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.String">
    delete from biz_hotl
    where hotel_code = #{hotelCode,jdbcType=VARCHAR}
  </delete>
  
  <update id="update" parameterType="com.hotel.admin.model.BizHotl">
    update biz_hotl
    <set>
      <if test="hotelCode != null">
        hotel_code = #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelType != null">
        hotel_type = #{hotelType,jdbcType=VARCHAR},
      </if>
      <if test="hotelLevel != null">
        hotel_level = #{hotelLevel,jdbcType=VARCHAR},
      </if>
      <if test="hotelCname != null">
        hotel_cname = #{hotelCname,jdbcType=VARCHAR},
      </if>
      <if test="hotelEname != null">
        hotel_ename = #{hotelEname,jdbcType=VARCHAR},
      </if>
      <if test="hotelAddr != null">
        hotel_addr = #{hotelAddr,jdbcType=VARCHAR},
      </if>
      <if test="hotelPhone != null">
        hotel_phone = #{hotelPhone,jdbcType=VARCHAR},
      </if>
      <if test="hotelFax != null">
        hotel_fax = #{hotelFax,jdbcType=VARCHAR},
      </if>
      <if test="hotelWeb != null">
        hotel_web = #{hotelWeb,jdbcType=VARCHAR},
      </if>
      <if test="creatCy != null">
        creat_cy = #{creatCy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hotel_code = #{hotelCode,jdbcType=VARCHAR}
  </update>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_hotl
    where hotel_code = #{hotelCode,jdbcType=VARCHAR}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from biz_hotl
  </select>
  
</mapper>