<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizHotlMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizHotl">
	<id column="id" jdbcType="INTEGER" property="id" />
      <result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="country_code" jdbcType="VARCHAR" property="countryCode" />
	<result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="province_Cname" jdbcType="VARCHAR" property="provinceCname" />
    <result column="city_Cname" jdbcType="VARCHAR" property="cityCname" />
      <result column="province_Ename" jdbcType="VARCHAR" property="provinceEname" />
      <result column="city_Ename" jdbcType="VARCHAR" property="cityEname" />
	<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
	<result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
    <result column="hotel_type_key" jdbcType="VARCHAR" property="hotelTypeKey" />
    <result column="hotel_level_key" jdbcType="VARCHAR" property="hotelLevelKey" />
	<result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
	<result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_fax" jdbcType="VARCHAR" property="hotelFax" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

    <update id="deleteUp" parameterType="com.hotel.admin.model.BizHotl">
        update  biz_hotl
        <set>
            del_flag = -1,
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="update" parameterType="com.hotel.admin.model.BizHotl">
        update  biz_hotl
        <set>
            <if test="hotelCode != null and hotelCode!=''">
                  hotel_code = #{hotelCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null and provinceCode !=''">
                 province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null and cityCode !=''">
                 city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="hotelType != null and hotelType !=''">
                 hotel_type = #{hotelType,jdbcType=VARCHAR},
            </if>
            <if test="hotelLevel != null and hotelLevel !=''">
                 hotel_level = #{hotelLevel,jdbcType=VARCHAR},
            </if>
            <if test="hotelCname != null and hotelCname !=''">
                 hotel_cname = #{hotelCname,jdbcType=VARCHAR},
            </if>
            <if test="hotelEname != null and hotelEname !=''">
                 hotel_ename = #{hotelEname,jdbcType=VARCHAR},
            </if>
            <if test="hotelAddr != null and hotelAddr !=''">
                hotel_addr = #{hotelAddr,jdbcType=VARCHAR},
            </if>
            <if test="hotelPhone != null and hotelPhone !=''">
                hotel_phone = #{hotelPhone,jdbcType=VARCHAR},
            </if>
            <if test="hotelFax != null and hotelFax !=''">
                hotel_fax = #{hotelFax,jdbcType=VARCHAR},
            </if>
            <if test="hotelWeb != null and hotelWeb !=''">
                hotel_web = #{hotelWeb,jdbcType=VARCHAR},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
  
  <select id="findPage" resultMap="BaseResultMap">
    select a.hotel_code, a.country_code, a.province_code, a.city_code, (select para_code from sys_para_config where para_code LIKE 'hotelType%' and para_sub_code1='hotelType' AND para_value1=a.hotel_type) hotel_type_key,
    a.hotel_type, a.hotel_Level, (select para_code from sys_para_config where para_code LIKE 'hotelLevel%' and para_sub_code1='hotelLevel' AND para_value1=a.hotel_Level) hotel_Level_key,
     a.hotel_cname, a.hotel_ename, a.create_name,a.create_time,a.update_name, a.update_time, a.hotel_addr, a.hotel_phone, a.hotel_fax, a.hotel_web
 from biz_hotl a
  </select>

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.BizHotelQueryDto" resultMap="BaseResultMap">
      select
    a.id, a.hotel_code, a.country_code,(select area_Cname from hotel_area where  area_Lvl = "1" AND area_Code=a.province_code) province_Cname,
      (select area_Cname from hotel_area where  area_Lvl = "2" AND area_Code=a.city_code) city_Cname,
      (select area_Ename from hotel_area where  area_Lvl = "1" AND area_Code=a.province_code) province_Ename,
      (select area_Ename from hotel_area where  area_Lvl = "2" AND area_Code=a.city_code) city_Ename,
    (select para_code from sys_para_config where para_code LIKE 'cityCode%' and para_sub_code1='cityCode' AND para_value1=a.city_code) city_code_key,
   (select para_code from sys_para_config where para_code LIKE 'hotelType%' and para_sub_code1='hotelType' AND para_value1=a.hotel_type) hotel_type_key,
  a.hotel_type, a.hotel_Level, (select para_code from sys_para_config where para_code LIKE 'hotelLevel%' and para_sub_code1='hotelLevel' AND para_value1=a.hotel_Level) hotel_Level_key,
  a.hotel_cname, a.hotel_ename, a.create_time,a.create_name,a.update_name, a.update_time, a.hotel_addr, a.hotel_phone, a.hotel_fax, a.hotel_web,a.province_code,a.city_code
  from biz_hotl a where  1=1  AND  del_flag != -1
  <if test="hotelCode != null and hotelCode!=''">
    AND  a.hotel_code = #{hotelCode,jdbcType=VARCHAR}
  </if>
  <if test="provinceCode != null and provinceCode !=''">
    AND a.province_code = #{provinceCode,jdbcType=VARCHAR}
  </if>
  <if test="cityCode != null and cityCode !=''">
    AND a.city_code = #{cityCode,jdbcType=VARCHAR}
  </if>
  <if test="hotelType != null and hotelType !=''">
    AND a.hotel_type = #{hotelType,jdbcType=VARCHAR}
  </if>
  <if test="hotelLevel != null and hotelLevel !=''">
    AND a.hotel_level = #{hotelLevel,jdbcType=VARCHAR}
  </if>
  <if test="hotelCname != null and hotelCname !=''">
    AND a.hotel_cname = #{hotelCname,jdbcType=VARCHAR}
  </if>
  </select>


</mapper>