<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizHotlMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizHotl">
	<id column="id" jdbcType="INTEGER" property="id" />
      <result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="country_code" jdbcType="VARCHAR" property="countryCode" />
	<result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="province_Cname" jdbcType="VARCHAR" property="provinceCname" />
    <result column="city_Cname" jdbcType="VARCHAR" property="cityCname" />
      <result column="province_Ename" jdbcType="VARCHAR" property="provinceEname" />
      <result column="city_Ename" jdbcType="VARCHAR" property="cityEname" />
	<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
	<result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
    <result column="hotel_type_key" jdbcType="VARCHAR" property="hotelTypeKey" />
    <result column="hotel_level_key" jdbcType="VARCHAR" property="hotelLevelKey" />
      <result column="scheduledays" jdbcType="VARCHAR" property="scheduledays"/>
      <result column="evenlive" jdbcType="VARCHAR" property="evenlive"/>
      <result column="favorableprice" jdbcType="VARCHAR" property="favorableprice"/>
      <result column="present" jdbcType="VARCHAR" property="present"/>
      <result column="room_stock" jdbcType="VARCHAR" property="roomStock"/>
	<result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
	<result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_fax" jdbcType="VARCHAR" property="hotelFax" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

    <insert id="insertInfo" parameterType="com.hotel.admin.model.BizHotl">
        INSERT INTO  biz_hotl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hotelCode != null and hotelCode!=''">
                hotel_code,
            </if>
            <if test="countryCode != null and countryCode!=''">
                country_code,
            </if>
            <if test="provinceCode != null and provinceCode !=''">
                province_code,
            </if>
            <if test="cityCode != null and cityCode !=''">
                city_code,
            </if>
            <if test="hotelType != null and hotelType !=''">
                hotel_type,
            </if>
            <if test="hotelLevel != null and hotelLevel !=''">
                hotel_level,
            </if>
            <if test="hotelCname != null and hotelCname !=''">
                hotel_cname,
            </if>
            <if test="hotelEname != null and hotelEname !=''">
                hotel_ename,
            </if>
            <if test="hotelAddr != null and hotelAddr !=''">
                hotel_addr,
            </if>
            <if test="hotelPhone != null and hotelPhone !=''">
                hotel_phone,
            </if>
            <if test="hotelFax != null and hotelFax !=''">
                hotel_fax,
            </if>
            <if test="hotelWeb != null and hotelWeb !=''">
                hotel_web,
            </if>
            <if test="roomStock!=null">
                room_stock,
            </if>
            <if test="scheduledays!=null">
                scheduledays,
            </if>
            <if test="favorableprice!=null">
                favorableprice,
            </if>
            <if test="evenlive!=null">
                evenlive,
            </if>
            <if test="present!=null">
                present,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hotelCode != null and hotelCode!=''">
                #{hotelCode,jdbcType=VARCHAR},
            </if>
            <if test="countryCode != null and countryCode!=''">
                #{countryCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null and provinceCode !=''">
                #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null and cityCode !=''">
                #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="hotelType != null and hotelType !=''">
               #{hotelType,jdbcType=VARCHAR},
            </if>
            <if test="hotelLevel != null and hotelLevel !=''">
                 #{hotelLevel,jdbcType=VARCHAR},
            </if>
            <if test="hotelCname != null and hotelCname !=''">
               #{hotelCname,jdbcType=VARCHAR},
            </if>
            <if test="hotelEname != null and hotelEname !=''">
                #{hotelEname,jdbcType=VARCHAR},
            </if>
            <if test="hotelAddr != null and hotelAddr !=''">
                 #{hotelAddr,jdbcType=VARCHAR},
            </if>
            <if test="hotelPhone != null and hotelPhone !=''">
                #{hotelPhone,jdbcType=VARCHAR},
            </if>
            <if test="hotelFax != null and hotelFax !=''">
                #{hotelFax,jdbcType=VARCHAR},
            </if>
            <if test="hotelWeb != null and hotelWeb !=''">
               #{hotelWeb,jdbcType=VARCHAR},
            </if>
            <if test="roomStock!=null">
                #{roomStock,jdbcType=INTEGER},
            </if>
            <if test="scheduledays!=null">
                 #{scheduledays,jdbcType=DOUBLE},
            </if>
            <if test="favorableprice!=null">
               #{favorableprice,jdbcType=DOUBLE},
            </if>
            <if test="evenlive!=null">
                 #{evenlive,jdbcType=DOUBLE},
            </if>
            <if test="present!=null">
              #{present,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
               #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>

    </insert>

    <update id="deleteUp" parameterType="com.hotel.admin.model.BizHotl">
        update  biz_hotl
        <set>
            del_flag = -1,
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="update" parameterType="com.hotel.admin.model.BizHotl">
        update  biz_hotl
        <set>
            <if test="hotelCode != null and hotelCode!=''">
                  hotel_code = #{hotelCode,jdbcType=VARCHAR},
            </if>
            <if test="provinceCode != null and provinceCode !=''">
                 province_code = #{provinceCode,jdbcType=VARCHAR},
            </if>
            <if test="cityCode != null and cityCode !=''">
                 city_code = #{cityCode,jdbcType=VARCHAR},
            </if>
            <if test="hotelType != null and hotelType !=''">
                 hotel_type = #{hotelType,jdbcType=VARCHAR},
            </if>
            <if test="hotelLevel != null and hotelLevel !=''">
                 hotel_level = #{hotelLevel,jdbcType=VARCHAR},
            </if>
            <if test="hotelCname != null and hotelCname !=''">
                 hotel_cname = #{hotelCname,jdbcType=VARCHAR},
            </if>
            <if test="hotelEname != null and hotelEname !=''">
                 hotel_ename = #{hotelEname,jdbcType=VARCHAR},
            </if>
            <if test="hotelAddr != null and hotelAddr !=''">
                hotel_addr = #{hotelAddr,jdbcType=VARCHAR},
            </if>
            <if test="hotelPhone != null and hotelPhone !=''">
                hotel_phone = #{hotelPhone,jdbcType=VARCHAR},
            </if>
            <if test="hotelFax != null and hotelFax !=''">
                hotel_fax = #{hotelFax,jdbcType=VARCHAR},
            </if>
            <if test="roomStock != null and roomStock !=''">
                room_stock = #{roomStock,jdbcType=INTEGER},
            </if>
            <if test="hotelWeb != null and hotelWeb !=''">
                hotel_web = #{hotelWeb,jdbcType=VARCHAR},
            </if>
            <if test="scheduledays!=null">
                scheduledays= #{scheduledays,jdbcType=DOUBLE},
            </if>
            <if test="favorableprice!=null">
                favorableprice = #{favorableprice,jdbcType=DOUBLE},
            </if>
            <if test="evenlive!=null">
                evenlive = #{evenlive,jdbcType=DOUBLE},
            </if>
            <if test="present!=null">
                present = #{present,jdbcType=DOUBLE},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
  
  <select id="findPage" resultMap="BaseResultMap">
    select a.hotel_code, a.country_code, a.province_code, a.city_code,
    a.hotel_type, a.hotel_Level,
     a.hotel_cname, a.hotel_ename, a.create_name,a.create_time,a.update_name, a.update_time, a.hotel_addr, a.hotel_phone, a.hotel_fax, a.hotel_web,
     a.scheduledays ,
    a.favorableprice,
    a.evenlive,
    a.present,
    a.room_stock
 from biz_hotl a WHERE del_flag != -1
  </select>

    <select id="findById" parameterType="com.hotel.admin.model.BizHotl" resultMap="BaseResultMap">
        select *
        from biz_hotl a WHERE  id = #{id,jdbcType=INTEGER}
    </select>

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.BizHotelQueryDto" resultMap="BaseResultMap">
      select
    a.id, a.hotel_code, a.country_code,
  a.hotel_type, a.hotel_Level,
  a.hotel_cname, a.hotel_ename, a.create_time,a.create_name,a.update_name, a.update_time, a.hotel_addr, a.hotel_phone, a.hotel_fax, a.hotel_web,a.province_code,a.city_code,
      a.scheduledays ,
      a.favorableprice,
      a.evenlive,
      a.present,
      ifnull(b.inventory,a.room_stock)    room_stock
  from biz_hotl a LEFT JOIN biz_inv b  ON a.hotel_code=b.hotel_code
      where  1=1  AND  del_flag != -1 AND ifnull(b.inv_date,date_format(SYSDATE(),'%Y%m%d')) = date_format(SYSDATE(),'%Y%m%d')
  <if test="hotelCode != null and hotelCode!=''">
    AND  a.hotel_code = #{hotelCode,jdbcType=VARCHAR}
  </if>
  <if test="provinceCode != null and provinceCode !=''">
    AND a.province_code = #{provinceCode,jdbcType=VARCHAR}
  </if>
  <if test="cityCode != null and cityCode !=''">
    AND a.city_code = #{cityCode,jdbcType=VARCHAR}
  </if>
  <if test="hotelType != null and hotelType !=''">
    AND a.hotel_type = #{hotelType,jdbcType=VARCHAR}
  </if>
  <if test="hotelLevel != null and hotelLevel !=''">
    AND a.hotel_level = #{hotelLevel,jdbcType=VARCHAR}
  </if>
  <if test="hotelname != null and hotelname !=''">
    AND (a.hotel_cname like concat('%',#{hotelname,jdbcType=VARCHAR},'%') or a.hotel_ename  LIKE concat('%', #{hotelname,jdbcType=VARCHAR},'%'))
  </if>
  </select>
    <select id="selectMaxSequence" resultType="java.lang.String">
        SELECT MAX(SUBSTR(hotel_code,6)) FROM `biz_hotl`
    </select>


</mapper>