<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizInvMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizInv">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="inv_date" jdbcType="VARCHAR" property="invDate" />
	<result column="inventory" jdbcType="INTEGER" property="inventory" />
	<result column="auto_close" jdbcType="VARCHAR" property="autoClose" />
	<result column="create_name" jdbcType="VARCHAR" property="createName" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_name" jdbcType="VARCHAR" property="updateName" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="findByRoomCode" parameterType="com.hotel.admin.model.BizInv" resultMap="BaseResultMap">
    select * from biz_inv
    where room_code = #{roomCode,jdbcType=VARCHAR} AND inv_date = #{invDate,jdbcType=VARCHAR}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from biz_inv
  </select>

  <select id="queryById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    room_code,
    inv_date,
    inventory
    from biz_inv
    where room_code = #{roomCode,jdbcType=VARCHAR} ORDER BY inv_date
  </select>
  <select id="findCancelBizInv" resultType="com.hotel.admin.model.BizInv">
    select * from biz_inv
    where room_code = #{roomCode,jdbcType=VARCHAR} AND inv_date >= #{inDate} AND inv_date &lt; #{outDate}
  </select>
  <select id="selectInventory" resultType="java.lang.Integer">
    SELECT
        min( IFNULL(bi.inventory,f.room_stock) ) inventory
    FROM
        (SELECT
              x.date,
              c.room_code,
              c.room_stock
        FROM
              biz_room c
        JOIN ( SELECT DATE_FORMAT( date, '%Y%m%d' ) date
               FROM calendar
               WHERE date BETWEEN DATE_FORMAT( #{inDateStart}, '%Y%m%d') AND DATE_FORMAT( #{outDateEnd}, '%Y%m%d')
               ) x
        ) f
        LEFT JOIN biz_inv bi ON f.room_code = bi.room_code AND f.date = bi.inv_date
        LEFT JOIN biz_prise g ON f.room_code = g.room_code and f.date = g.price_date
    WHERE
        g.s_price is not null
        AND f.room_code = #{roomCode}
    GROUP BY
        f.room_code
    HAVING
    count( f.room_code ) = DATEDIFF(DATE_FORMAT( #{outDateEnd}, '%Y%m%d'),DATE_FORMAT( #{inDateStart}, '%Y%m%d') ) +1
  </select>

  <insert id="addByUser" parameterType="com.hotel.admin.model.BizInv">
    insert into biz_inv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="invDate != null">
        inv_date,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
      <if test="autoClose != null">
        auto_close,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="invDate != null">
        #{invDate,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="autoClose != null">
        #{autoClose,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <update id="updateByUser" parameterType="com.hotel.admin.model.BizInv">
    update biz_inv
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="invDate != null">
        inv_date = #{invDate,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="autoClose != null">
        auto_close = #{autoClose,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR} and inv_date = #{invDate,jdbcType=VARCHAR}
  </update>


  
</mapper>