<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizPuchsExtMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizPuchsExt">
	<id column="id" jdbcType="VARCHAR" property="id" />
	<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
	<result column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="live_date" jdbcType="TIMESTAMP" property="liveDate" />
	<result column="s_amount" jdbcType="DOUBLE" property="sAmount" />
	<result column="t_amount" jdbcType="DOUBLE" property="tAmount" />
	<result column="create_name" jdbcType="VARCHAR" property="createName" />
	<result column="create_time" jdbcType="VARCHAR" property="createTime" />
	<result column="update_name" jdbcType="VARCHAR" property="updateName" />
	<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  
</mapper>