<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizPuchsMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizPuchs">
  	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
	<result column="room_code" jdbcType="VARCHAR" property="roomCode" />
  	<result column="confirm_date" jdbcType="VARCHAR" property="confirmTime" />
	<result column="in_date" jdbcType="VARCHAR" property="inDate" />
	<result column="out_date" jdbcType="VARCHAR" property="outDate" />
	<result column="p_name" jdbcType="VARCHAR" property="pName" />
	<result column="passport" jdbcType="VARCHAR" property="passport" />
	<result column="birth" jdbcType="VARCHAR" property="birth" />
	<result column="phone" jdbcType="VARCHAR" property="phone" />
	<result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
	<result column="a_num" jdbcType="INTEGER" property="aNum" />
	<result column="b_num" jdbcType="INTEGER" property="bNum" />
	<result column="c_num" jdbcType="INTEGER" property="cNum" />
	<result column="room_num" jdbcType="INTEGER" property="roomNum" />
	<result column="currency" jdbcType="VARCHAR" property="currency" />
	<result column="total_s_amount" jdbcType="DOUBLE" property="totalSAmount" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="status" jdbcType="VARCHAR" property="status" />
  	<result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
	<result column="create_by" jdbcType="VARCHAR" property="createName" />
	<result column="create_time" jdbcType="VARCHAR" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="updateName" />
	<result column="last_update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

	<sql id="where_query">
		<where>
			<if test="orderCode != null and orderCode != ''">
				AND order_code = #{orderCode}
			</if>
			<if test="roomStatus != null and roomStatus != ''">
				AND status = #{roomStatus}
			</if>
			<if test="createTimeEnd != null and createTimeEnd != ''">
				AND create_time &lt;= #{createTimeEnd}
			</if>
			<if test="createTimeStart != null and createTimeStart != ''">
				AND create_time >= #{createTimeStart}
			</if>
			<if test="confirmTimeEnd != null and confirmTimeEnd != ''">
				AND order_code &lt;= #{confirmTimeEnd}
			</if>
			<if test="confirmTimeStart != null and confirmTimeStart != ''">
				AND order_code >= #{confirmTimeStart}
			</if>
			<if test="hotelName != null and hotelName != ''">
				AND hotelName = #{hotelName}
			</if>
		</where>
	</sql>

	<update id="updateBizPushs" parameterType="com.hotel.admin.qo.BizPuchsUpdate">
		update  biz_puchs
		<set>
			<if test="pName != null and pName!=''">
				p_name = #{pName,jdbcType=VARCHAR},
			</if>
			<if test="passport != null and passport !=''">
				passport = #{passport,jdbcType=VARCHAR},
			</if>
			<if test="birth != null and birth !=''">
				birth = #{birth,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="emailAddress != null and emailAddress !=''">
				email_address = #{emailAddress,jdbcType=VARCHAR},
			</if>
			<if test="aNum != null and aNum !=''">
				a_num = #{aNum,jdbcType=VARCHAR},
			</if>
			<if test="bNum != null and bNum !=''">
				b_num = #{bNum,jdbcType=VARCHAR},
			</if>
			<if test="cNum != null and cNum !=''">
				c_num = #{cNum,jdbcType=VARCHAR},
			</if>
			<if test="roomNum != null and roomNum !=''">
				room_num = #{roomNum,jdbcType=VARCHAR},
			</if>
			<if test="currency != null and currency !=''">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="totalSAmount != null and totalSAmount !=''">
				total_s_amount = #{totalSAmount,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="hotelName != null and hotelName !=''">
				hotel_name = #{hotelName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findPage" resultMap="BaseResultMap">
		select * from biz_puchs <include refid="where_query"/>
	</select>


	<update id="puchsConfirm" parameterType="com.hotel.admin.qo.BizPuchsUpdate">
		update  biz_puchs
		<set>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>