<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizPriseMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizPrise">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
	<result column="price_date" jdbcType="VARCHAR" property="priceDate" />
	<result column="s_price" jdbcType="DOUBLE" property="sPrice" />
	<result column="t_price" jdbcType="DOUBLE" property="tPrice" />
	<result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />
	<result column="t_room_price" jdbcType="DOUBLE" property="tRoomPrice" />
	<result column="creat_by" jdbcType="VARCHAR" property="creatBy" />
	<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="com.hotel.admin.model.BizPrise">
    insert into biz_prise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="priceDate != null">
        price_date,
      </if>
      <if test="sPrice != null">
        s_price,
      </if>
      <if test="tPrice != null">
        t_price,
      </if>
      <if test="sRoomPrice != null">
        s_room_price,
      </if>
      <if test="tRoomPrice != null">
        t_room_price,
      </if>
      <if test="creatBy != null">
        creat_by,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="priceDate != null">
        #{priceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sPrice != null">
        #{sPrice,jdbcType=DOUBLE},
      </if>
      <if test="tPrice != null">
        #{tPrice,jdbcType=DOUBLE},
      </if>
      <if test="sRoomPrice != null">
        #{sRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="tRoomPrice != null">
        #{tRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="creatBy != null">
        #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.String">
    delete from biz_prise
    where room_code = #{roomCode,jdbcType=VARCHAR} AND price_date = #{priceDate,jdbcType=TIMESTAMP}
  </delete>
  
  <update id="update" parameterType="com.hotel.admin.model.BizPrise">
    update biz_prise
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="priceDate != null">
        price_date = #{priceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sPrice != null">
        s_price = #{sPrice,jdbcType=DOUBLE},
      </if>
      <if test="tPrice != null">
        t_price = #{tPrice,jdbcType=DOUBLE},
      </if>
      <if test="sRoomPrice != null">
        s_room_price = #{sRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="tRoomPrice != null">
        t_room_price = #{tRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="creatBy != null">
        creat_by = #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR} AND price_date = #{priceDate,jdbcType=TIMESTAMP}
  </update>

  <select id="findById" parameterType="com.hotel.admin.model.BizPrise" resultMap="BaseResultMap">
    select * from biz_prise
    where room_code = #{roomCode,jdbcType=VARCHAR} and price_date = #{priceDate,jdbcType=VARCHAR}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from biz_prise
  </select>

  <select id="queryById" parameterType="java.lang.String" resultMap="BaseResultMap">
  select
  room_code,
  price_date,
  s_price,
  t_price
  from
  biz_prise
  where room_code = #{roomCode,jdbcType=VARCHAR} ORDER  BY price_date
  </select>

  <insert id="addByUser" parameterType="com.hotel.admin.model.BizPrise">
    insert into biz_prise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="priceDate != null">
        price_date,
      </if>
      <if test="sPrice != null">
        s_price,
      </if>
      <if test="tPrice != null">
        t_price,
      </if>
      <if test="sRoomPrice != null">
        s_room_price,
      </if>
      <if test="tRoomPrice != null">
        t_room_price,
      </if>
      <if test="creatBy != null">
        creat_by,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="priceDate != null">
        #{priceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sPrice != null">
        #{sPrice,jdbcType=DOUBLE},
      </if>
      <if test="tPrice != null">
        #{tPrice,jdbcType=DOUBLE},
      </if>
      <if test="sRoomPrice != null">
        #{sRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="tRoomPrice != null">
        #{tRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="creatBy != null">
        #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByUser" parameterType="com.hotel.admin.model.BizPrise">
    update biz_prise
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="priceDate != null">
        price_date = #{priceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sPrice != null">
        s_price = #{sPrice,jdbcType=DOUBLE},
      </if>
      <if test="tPrice != null">
        t_price = #{tPrice,jdbcType=DOUBLE},
      </if>
      <if test="sRoomPrice != null">
        s_room_price = #{sRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="tRoomPrice != null">
        t_room_price = #{tRoomPrice,jdbcType=DOUBLE},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR} AND price_date = #{priceDate,jdbcType=TIMESTAMP}
  </update>

  
</mapper>