<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizPuchsMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizPuchsExtDto">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
	<result column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="last_crt_time" jdbcType="VARCHAR" property="lastCrtTime" />
	<result column="in_date_start" jdbcType="VARCHAR" property="inDateStart" />
	<result column="out_date_end" jdbcType="VARCHAR" property="outDateEnd" />
	<result column="p_name" jdbcType="VARCHAR" property="pName" />
	<result column="passport" jdbcType="VARCHAR" property="passport" />
	<result column="birth" jdbcType="VARCHAR" property="birth" />
	<result column="phone" jdbcType="VARCHAR" property="phone" />
	<result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
	<result column="adult_num" jdbcType="INTEGER" property="adultNum" />
	<result column="child_num" jdbcType="INTEGER" property="childNum" />
	  <result column="children612" jdbcType="INTEGER" property="children612" />
	  <result column="children46" jdbcType="INTEGER" property="children46" />
	  <result column="children4" jdbcType="INTEGER" property="children4" />
	<result column="c_num" jdbcType="INTEGER" property="cNum" />
	<result column="room_num" jdbcType="INTEGER" property="roomNum" />
	<result column="currency" jdbcType="VARCHAR" property="currency" />
	<result column="total_s_amount" jdbcType="DOUBLE" property="totalSAmount" />
	  <result column="total_t_amount" jdbcType="DOUBLE" property="totalTAmount" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="status" jdbcType="VARCHAR" property="status" />
	<result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
	<result column="create_time" jdbcType="VARCHAR" property="createTime" />
	<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
	<result column="room_type_key" jdbcType="VARCHAR" property="roomTypeKey" />
	<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
	<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
	<result column="break_type" jdbcType="VARCHAR" property="breakType" />
	<result column="break_type_key" jdbcType="VARCHAR" property="breakTypeKey" />
	<result column="bed_type_key" jdbcType="VARCHAR" property="bedTypeKey" />
	<result column="province_code_key" jdbcType="VARCHAR" property="provinceCodeKey" />
	<result column="city_code_key" jdbcType="VARCHAR" property="cityCodeKey" />
	<result column="hotel_type_key" jdbcType="VARCHAR" property="hotelTypeKey" />
	<result column="room_area" jdbcType="DOUBLE" property="roomArea" />
	<result column="intro_c" jdbcType="VARCHAR" property="introC" />
	<result column="intro_e" jdbcType="VARCHAR" property="introE" />
	<result column="photo" jdbcType="BINARY" property="photo" />
	<result column="room_stock" jdbcType="INTEGER" property="roomStock" />
	<result column="recommended" jdbcType="VARCHAR" property="recommended" />
	<result column="create_name" jdbcType="VARCHAR" property="createName" />
	<result column="update_name" jdbcType="VARCHAR" property="updateName" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
	<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
	<result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
	<result column="city_code" jdbcType="VARCHAR" property="cityCode" />
	<result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
	<result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
	<result column="inventory" jdbcType="INTEGER" property="inventory" />
	<result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />
	<result column="price" jdbcType="DOUBLE" property="sPrice" />
	<result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
	<result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
	  <result column="hotel_fax" jdbcType="VARCHAR" property="hotelFax" />
	<result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
	<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
	<result column="iswify" jdbcType="VARCHAR" property="iswify" />
	<result column="isfront" jdbcType="VARCHAR" property="isfront" />
	<result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
	<result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
	<result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
	<result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
	<result column="isheat" jdbcType="VARCHAR" property="isheat" />
	<result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
	<result column="isiron" jdbcType="VARCHAR" property="isiron" />
	<result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
	<result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
	  <result column="isSeaviewRoom" jdbcType="VARCHAR" property="isSeaviewRoom" />
	  <result column="isMountainViewRoom" jdbcType="VARCHAR" property="isMountainViewRoom" />
	  <result column="isCityViewRoom" jdbcType="VARCHAR" property="isCityViewRoom" />
	<result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
	<result column="ispark" jdbcType="VARCHAR" property="ispark" />
	<result column="isgym" jdbcType="VARCHAR" property="isgym" />
	<result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
	<result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
	<result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
	<result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
	<result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
	<result column="isknead" jdbcType="VARCHAR" property="isknead" />
	<result column="islounge" jdbcType="VARCHAR" property="islounge" />
	<result column="issuper" jdbcType="VARCHAR" property="issuper" />
	<result column="isbus" jdbcType="VARCHAR" property="isbus" />
	<result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
	<result column="isrestau" jdbcType="VARCHAR" property="isrestau" />
	  <result column="mark" jdbcType="VARCHAR" property="mark" />
	  <result column="SpecialMatters" jdbcType="VARCHAR" property="SpecialMatters" />
  </resultMap>

	<resultMap id="r0001ReportMap" type="com.hotel.admin.dto.MrR0001DetailDto">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
		<result column="room_type" property="roomType" jdbcType="VARCHAR" />
		<result column="in_date_start" property="inDateStart" jdbcType="VARCHAR" />
		<result column="total_s_amount" property="totalSAmount" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="name" property="deptName" jdbcType="VARCHAR" />
		<result column="create_name" property="createName" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_name" property="updateName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="userReport" type="com.hotel.admin.dto.UserRequestReportDto">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="room_code" jdbcType="VARCHAR" property="roomCode" />
		<result column="last_crt_time" jdbcType="VARCHAR" property="lastCrtTime" />
		<result column="in_date_start" jdbcType="VARCHAR" property="inDateStart" />
		<result column="out_date_end" jdbcType="VARCHAR" property="outDateEnd" />
		<result column="p_name" jdbcType="VARCHAR" property="pName" />
		<result column="passport" jdbcType="VARCHAR" property="passport" />
		<result column="birth" jdbcType="VARCHAR" property="birth" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
		<result column="adult_num" jdbcType="INTEGER" property="adultNum" />
		<result column="child_num" jdbcType="INTEGER" property="childNum" />
		<result column="room_num" jdbcType="INTEGER" property="roomNum" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
		<result column="room_type" jdbcType="VARCHAR" property="roomType" />
		<result column="room_type_key" jdbcType="VARCHAR" property="roomTypeKey" />
		<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
		<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
		<result column="break_type" jdbcType="VARCHAR" property="breakType" />
		<result column="room_area" jdbcType="DOUBLE" property="roomArea" />
		<result column="create_name" jdbcType="VARCHAR" property="createName" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_name" jdbcType="VARCHAR" property="updateName" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
		<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
		<result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
		<result column="city_code" jdbcType="VARCHAR" property="cityCode" />
		<result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
		<result column="total_s_amount" jdbcType="DOUBLE" property="totalSAmount" />
		<result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
		<result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
		<result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
		<result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
		<result column="children612" jdbcType="VARCHAR" property="children612" />
		<result column="children46" jdbcType="VARCHAR" property="children46" />
		<result column="children4" jdbcType="VARCHAR" property="children4" />
		<result column="hotel_basic_info" jdbcType="VARCHAR" property="hotelBasicInfo" />

	</resultMap>

	<resultMap id="managerReport" type="com.hotel.admin.dto.ManagerRequestReportDto">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="in_end" jdbcType="VARCHAR" property="inEnd" />
		<result column="p_name" jdbcType="VARCHAR" property="pName" />
		<result column="adult_num" jdbcType="INTEGER" property="adultNum" />
		<result column="child_num" jdbcType="INTEGER" property="childNum" />
		<result column="room_num" jdbcType="INTEGER" property="roomNum" />
		<result column="room_type" jdbcType="VARCHAR" property="roomType" />
		<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
		<result column="break_type" jdbcType="VARCHAR" property="breakType" />
		<result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
		<result column="children612" jdbcType="VARCHAR" property="children612" />
		<result column="children46" jdbcType="VARCHAR" property="children46" />
		<result column="children4" jdbcType="VARCHAR" property="children4" />
		<result column="person_num" jdbcType="VARCHAR" property="personNum" />
		<result column="total_t_amount" jdbcType="VARCHAR" property="totalTAmount" />

	</resultMap>


	<sql id="room_sql">
		r.room_style,r.room_type,r.bed_type,r.break_type,r.intro_c,r.intro_e,h.room_stock,r.recommended
	</sql>
	<sql id="room_ext_sql">
		d.iswify,d.isfront,d.isbarrifr,d.isbalcony,d.iskitchen,d.iswindow,d.isheat,d.isicebox,d.isiron,d.isnosmk,d.islandscape,d.isSeaviewRoom,d.isMountainViewRoom,d.isCityViewRoom,d.ishighrise,d.ispark,d.isgym,d.isswmp,d.isbeach,d.ishotsp,
		d.ischildct,d.isroomserv,d.isknead,d.islounge,d.issuper,d.isbus,d.istrafic,d.isrestau
	</sql>
	<sql id="hotel_sql">
		h.country_code,h.province_code,h.city_code,h.hotel_type,h.hotel_level,h.hotel_cname,h.hotel_ename,h.hotel_addr,h.hotel_phone,h.hotel_fax,h.hotel_web,h.present,h.scheduledays,h.favorableprice,h.evenlive,h.SpecialMatters
	</sql>
	<select id="findPage" resultMap="BaseResultMap">
		select bp.*,
			<include refid="room_sql"/>,
			<include refid="room_ext_sql"/>,
			<include refid="hotel_sql"/>,
			IFNULL(#{createName},'1')  mark
		from
		    biz_room r JOIN biz_puchs bp  ON r.room_code=bp.room_code
			JOIN biz_hotl h ON r.hotel_code =h.hotel_code
		 	JOIN biz_room_ext d ON  r.room_code=d.room_code
			<where>
				<if test="orderCode != null and orderCode != ''">
					AND bp.order_code = #{orderCode}
				</if>
				<if test="roomStatus != null and roomStatus != ''">
					AND bp.status = #{roomStatus}
				</if>
				<if test="createTimeEnd != null and createTimeEnd != ''">
					AND bp.create_time &lt;=  DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d 24:%i:%S')
				</if>
				<if test="createTimeStart != null and createTimeStart != ''">
					AND bp.create_time >=  DATE_FORMAT(#{createTimeStart}, '%Y-%m-%d %H:%i:%S')
				</if>
				<if test="inDateStartOut != null and inDateStartOut != ''">
					AND bp.in_date_start &lt;= #{inDateStartOut}
				</if>
				<if test="inDateStartIn != null and inDateStartIn != ''">
					AND bp.in_date_start >= #{inDateStartIn}
				</if>
				<if test="hotelName != null and hotelName != ''">
					AND (h.hotel_cname = #{hotelName} OR h.hotel_ename = #{hotelName})
				</if>
				<if test="createName != null and createName != ''">
					AND bp.create_name = #{createName}
				</if>
			</where>
	</select>


	<update id="updateBizPushs" parameterType="com.hotel.admin.qo.BizPuchsUpdate">
		update  biz_puchs
		<set>
			<if test="pName != null and pName!=''">
				p_name = #{pName,jdbcType=VARCHAR},
			</if>
			<if test="passport != null and passport !=''">
				passport = #{passport,jdbcType=VARCHAR},
			</if>
			<if test="birth != null and birth !=''">
				birth = #{birth,jdbcType=VARCHAR},
			</if>
			<if test="phone != null and phone !=''">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="emailAddress != null and emailAddress !=''">
				email_address = #{emailAddress,jdbcType=VARCHAR},
			</if>
			<if test="children612 != null and children612 !=''">
				children612 = #{children612,jdbcType=VARCHAR},
			</if>
			<if test="children46 != null and children46 !=''">
				children46 = #{children46,jdbcType=VARCHAR},
			</if>
			<if test="children4 != null and children4 !=''">
				children4 = #{children4,jdbcType=VARCHAR},
			</if>
			<if test="roomNum != null and roomNum !=''">
				room_num = #{roomNum,jdbcType=VARCHAR},
			</if>
			<if test="currency != null and currency !=''">
				currency = #{currency,jdbcType=VARCHAR},
			</if>
			<if test="totalSAmount != null and totalSAmount !=''">
				total_s_amount = #{totalSAmount,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark !=''">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="hotelName != null and hotelName !=''">
				hotel_name = #{hotelName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findPageS" parameterType="com.hotel.admin.qo.BizPuchsUpdate" resultMap="BaseResultMap">
		select * from biz_puchs where 1=1 and
		id = #{id,jdbcType=INTEGER}
	</select>

	<update id="puchsConfirm" parameterType="com.hotel.admin.qo.BizPuchsUpdate">
		update  biz_puchs
		<set>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="confirmName != null and confirmName !=''">
				confirm_name = #{confirmName,jdbcType=VARCHAR},
			</if>
			<if test="lastCrtTime != null and lastCrtTime !=''">
				last_crt_time = #{lastCrtTime,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findByRoomCd" resultMap="BaseResultMap" parameterType="java.lang.String">
		select a.*,b.hotel_code,b.room_style,b.bed_type,b.break_type,b.intro_c,b.intro_e,c.room_stock,b.recommended,c.scheduledays,c.favorableprice,c.evenlive,c.present,
		d.iswify,d.isfront,d.isbarrifr,d.isbalcony,d.iskitchen,d.iswindow,d.isheat,d.isicebox,d.isiron,d.isnosmk,d.islandscape,d.isSeaviewRoom,d.isMountainViewRoom,d.isCityViewRoom,d.ishighrise,d.ispark,d.isgym,d.isswmp,d.isbeach,d.ishotsp,
		d.ischildct,d.isroomserv,d.isknead,d.islounge,d.issuper,d.isbus,d.istrafic,d.isrestau,
		c.country_code,c.province_code,c.city_code,c.hotel_type,c.hotel_level,c.hotel_cname,c.hotel_ename,c.hotel_addr,c.hotel_phone,c.hotel_fax,c.hotel_web
		from biz_puchs a, biz_room b, biz_hotl c, biz_room_ext d
		where  1=1 and a.room_code=b.room_code and b.room_code=d.room_code and b.hotel_code =c.hotel_code and a.status in ('1','2') AND a.room_code = #{roomCode,jdbcType=VARCHAR}
	</select>

	<select id="findGroupRoomCode" resultType="java.lang.String">
      SELECT
		room_code
      FROM
      	(
			select
				room_code , count(1) num
			FROM
				biz_puchs
			where
				status IN  ('2','5','6')
			GROUP BY room_code
		) t
	  ORDER BY  t.num DESC limit 1
	</select>

	<select id="findMonthLowestRoom" resultType="java.lang.String">
		select
			a.room_code
		from
			biz_room a left join biz_prise b on a.room_code = b.room_code
		where
			b.price_date BETWEEN #{earlyMonth,jdbcType=VARCHAR} AND #{todayMonth,jdbcType=VARCHAR} and a.del_flag = 0
		ORDER BY s_room_price desc LIMIT 1
	</select>

	<update id="puchsStatusUpdate" parameterType="com.hotel.admin.qo.BizPuchsStatusUpdate">
		update  biz_puchs
		<set>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where status = #{oldStatus,jdbcType=VARCHAR} AND  in_date_start &lt;= #{inDateStart,jdbcType=VARCHAR}
	</update>

	<update id="puchsStatusCrtTm" parameterType="com.hotel.admin.qo.BizPuchsStatusUpdate">
		update  biz_puchs
		<set>
			<if test="status != null and status !=''">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where status = #{oldStatus,jdbcType=VARCHAR} AND  STR_TO_DATE(left(create_time,10), '%Y-%m-%d') &lt;= STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y%m%d')
	</update>

	<!-- 根据订单状态以及创建时间查询订单信息 -->
	<select id="selectPuchsInfo" parameterType="com.hotel.admin.model.BizPuchsUpdate" resultMap="BaseResultMap">
		select
		*
		from
		biz_puchs
		where  status = #{status,jdbcType=VARCHAR} AND  STR_TO_DATE(left(create_time,10), '%Y-%m-%d') &lt;= STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y%m%d')
	</select>
	
    <select id="selectMaxSequence" resultType="java.lang.String">
		SELECT MAX(SUBSTR(order_code,13)) FROM `biz_puchs`
	</select>

</mapper>