<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizRoomMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizRoom">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_type_key" jdbcType="VARCHAR" property="roomTypeKey" />
	<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
	<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
	<result column="break_type" jdbcType="VARCHAR" property="breakType" />
    <result column="bed_type_key" jdbcType="VARCHAR" property="bedTypeKey" />

	<result column="room_area" jdbcType="DOUBLE" property="roomArea" />
	<result column="intro_c" jdbcType="VARCHAR" property="introC" />
	<result column="intro_e" jdbcType="VARCHAR" property="introE" />
	<result column="photo" jdbcType="BINARY" property="photo" />
	<result column="room_stock" jdbcType="INTEGER" property="roomStock" />
	<result column="recommended" jdbcType="VARCHAR" property="recommended" />

    <result column="scheduledays" jdbcType="VARCHAR" property="scheduledays"/>
    <result column="evenlive" jdbcType="VARCHAR" property="evenlive"/>
    <result column="favorableprice" jdbcType="VARCHAR" property="favorableprice"/>
    <result column="present" jdbcType="VARCHAR" property="present"/>

    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />

    <result column="province_cname" jdbcType="VARCHAR" property="provinceCname" />
    <result column="province_ename" jdbcType="VARCHAR" property="provinceEname" />
    <result column="city_cname" jdbcType="VARCHAR" property="cityCname" />
    <result column="city_ename" jdbcType="VARCHAR" property="cityEname" />
    <result column="city_code_key" jdbcType="VARCHAR" property="cityCodeKey" />
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />

    <result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
    <result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="hotel_name" jdbcType="VARCHAR" property="hotelName" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="auto_close" jdbcType="INTEGER" property="autoClose" />
    <result column="s_price" jdbcType="DOUBLE" property="sPrice" />
    <result column="t_price" jdbcType="DOUBLE" property="tPrice" />
    <result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />

    <result column="iswify" jdbcType="VARCHAR" property="iswify" />
    <result column="isfront" jdbcType="VARCHAR" property="isfront" />
    <result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
    <result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
    <result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
    <result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
    <result column="isheat" jdbcType="VARCHAR" property="isheat" />
    <result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
    <result column="isiron" jdbcType="VARCHAR" property="isiron" />
    <result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
    <result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
    <result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
    <result column="ispark" jdbcType="VARCHAR" property="ispark" />
    <result column="isgym" jdbcType="VARCHAR" property="isgym" />
    <result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
    <result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
    <result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
    <result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
    <result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
    <result column="isknead" jdbcType="VARCHAR" property="isknead" />
    <result column="islounge" jdbcType="VARCHAR" property="islounge" />
    <result column="issuper" jdbcType="VARCHAR" property="issuper" />
    <result column="isbus" jdbcType="VARCHAR" property="isbus" />
    <result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
    <result column="isrestau" jdbcType="VARCHAR" property="isrestau" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  
  <insert id="add" parameterType="com.hotel.admin.model.BizRoom">
    insert into biz_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="hotelCode != null">
        hotel_code,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomStyle != null">
        room_style,
      </if>
      <if test="bedType != null">
        bed_type,
      </if>
      <if test="breakType != null">
        break_type,
      </if>
      <if test="roomArea != null">
        room_area,
      </if>
      <if test="introC != null">
        intro_c,
      </if>
      <if test="introE != null">
        intro_e,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="roomStock != null">
        room_stock,
      </if>
      <if test="recommended != null">
        recommended,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelCode != null">
        #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomStyle != null">
        #{roomStyle,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null">
        #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="breakType != null">
        #{breakType,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="introC != null">
        #{introC,jdbcType=VARCHAR},
      </if>
      <if test="introE != null">
        #{introE,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=BINARY},
      </if>
      <if test="roomStock != null">
        #{roomStock,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="delete" parameterType="com.hotel.admin.model.BizRoom">
    update  biz_room
    <set>
      del_flag = -1,
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </update>
  
  <update id="update" parameterType="com.hotel.admin.model.BizRoom">
    update biz_room
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelCode != null">
        hotel_code = #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomStyle != null">
        room_style = #{roomStyle,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null">
        bed_type = #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="breakType != null">
        break_type = #{breakType,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        room_area = #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="introC != null">
        intro_c = #{introC,jdbcType=VARCHAR},
      </if>
      <if test="introE != null">
        intro_e = #{introE,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="roomStock != null">
        room_stock = #{roomStock,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        recommended = #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </update>

  <select id="findByRecommend" parameterType="com.hotel.admin.dto.RecommendRoomQuery" resultMap="BaseResultMap">
    select
      a.room_code room_code,
      (
        select
        (CASE WHEN #{local,jdbcType=VARCHAR} =	'1'
        THEN w.cn_name
        ELSE w.en_name
        END
        )
        from sys_dict z join sys_dict w on z.id = w.parent_id
        where z.code = 'ROOM_TYPE' and w.code = a.room_type
      )  room_type,
      (case
        when #{local,jdbcType=VARCHAR} =	'1'
        then b.hotel_cname
        ELSE b.hotel_ename
        END
      ) hotel_name

    from biz_room a left JOIN biz_hotl b on a.hotel_code = b.hotel_code and a.recommended = '01'
  </select>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_room
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </select>

  <select id="findByHtlCd" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_room
    where hotel_code = #{hotelCode,jdbcType=VARCHAR} and DEL_FLAG = 0
  </select>

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.BizRoomQuery" resultMap="BaseResultMap">

    select
    a.room_code     room_code,
    a.hotel_code    hotel_code,
    d.hotel_cname   hotel_cname,
    d.hotel_ename   hotel_ename,
    d.province_code province_code,
    d.city_code    city_code,
    d.hotel_addr   hotel_addr,
    d.hotel_phone  hotel_phone,
    d.hotel_web    hotel_web,
    a.room_type    room_type,
    a.bed_type     bed_type,
    a.photo        photo,
    d.scheduledays scheduledays,
    d.favorableprice favorableprice,
    d.evenlive     evenlive,
    d.present      present,
    ifnull(b.inventory,a.room_stock)    inventory,
    b.auto_close   auto_close,
    c.s_room_price s_room_price,
    c.s_price      s_price,
    c.t_price      t_price,
    a.room_style   room_style,
    a.break_type   break_type,
    a.room_area    room_area,
    a.intro_c      intro_c,
    a.intro_e      intro_e,
    a.room_stock   room_stock,
    a.recommended  recommended,
    e.iswify       iswify     ,
    e.isfront      isfront    ,
    e.isbarrifr    isbarrifr  ,
    e.isbalcony    isbalcony  ,
    e.iskitchen    iskitchen  ,
    e.iswindow     iswindow   ,
    e.isheat       isheat     ,
    e.isicebox     isicebox   ,
    e.isiron       isiron     ,
    e.isnosmk      isnosmk    ,
    e.islandscape  islandscape,
    e.ishighrise   ishighrise ,
    e.ispark       ispark     ,
    e.isgym        isgym      ,
    e.isswmp       isswmp     ,
    e.isbeach      isbeach    ,
    e.ishotsp      ishotsp    ,
    e.ischildct    ischildct  ,
    e.isroomserv   isroomserv ,
    e.isknead      isknead    ,
    e.islounge     islounge   ,
    e.issuper      issuper    ,
    e.isbus        isbus      ,
    e.istrafic     istrafic   ,
    e.isrestau     isrestau
    from biz_room a LEFT JOIN biz_inv b ON a.room_code=b.room_code AND ifnull(b.inv_date,date_format(SYSDATE(),'%Y%m%d')) = date_format(SYSDATE(),'%Y%m%d')
    LEFT JOIN biz_prise c ON  a.room_code=c.room_code and c.price_date=date_format(SYSDATE(),'%Y%m%d') LEFT JOIN
    biz_hotl d ON a.hotel_code = d.hotel_code LEFT JOIN biz_room_ext e on a.room_code = e.room_code
    WHERE 1=1 AND a.DEL_FLAG = 0 AND d.DEL_FLAG = 0
    <if test="hotelCode != null and hotelCode != ''">
      AND d.hotel_code = #{hotelCode,jdbcType=VARCHAR}
    </if>
    <if test="roomCode != null and roomCode != ''">
      AND a.room_code = #{roomCode,jdbcType=VARCHAR}
    </if>
    <if test="hotelName != null and hotelName !=''">
      AND (d.hotel_cname LIKE concat('%',#{hotelName,jdbcType=VARCHAR},'%') OR d.hotel_ename LIKE concat('%',#{hotelName,jdbcType=VARCHAR},'%'))
    </if>
    <if test="roomType != null and roomType !=''">
      AND a.room_type = #{roomType,jdbcType=VARCHAR}
    </if>
    <if test="bedType != null and bedType !=''">
      AND a.bed_type = #{bedType,jdbcType=VARCHAR}
    </if>
    <if test="breakType != null and breakType !=''">
      AND a.break_type = #{breakType,jdbcType=VARCHAR}
    </if>
    <if test="inventory != null and inventory !=''"  >
      AND ifnull(b.inventory,a.room_stock) = #{inventory,jdbcType=VARCHAR}  AND ifnull(b.inv_date,date_format(SYSDATE(),'%Y%m%d')) = date_format(SYSDATE(),'%Y%m%d')
    </if>

  </select>
    <select id="selectMaxSequence" resultType="java.lang.String">
        SELECT MAX(SUBSTR(room_code,13)) FROM `biz_room`
    </select>

</mapper>