<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizRoomMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizRoom">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_type_key" jdbcType="VARCHAR" property="roomTypeKey" />
	<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
	<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
	<result column="break_type" jdbcType="VARCHAR" property="breakType" />
    <result column="bed_type_key" jdbcType="VARCHAR" property="bedTypeKey" />

	<result column="room_area" jdbcType="DOUBLE" property="roomArea" />
	<result column="intro_c" jdbcType="VARCHAR" property="introC" />
	<result column="intro_e" jdbcType="VARCHAR" property="introE" />
	<result column="photo" jdbcType="BINARY" property="photo" />
	<result column="room_stock" jdbcType="INTEGER" property="roomStock" />
	<result column="recommended" jdbcType="VARCHAR" property="recommended" />
	<result column="creat_by" jdbcType="VARCHAR" property="creatBy" />
	<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />

    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
    <result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />

    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="auto_close" jdbcType="INTEGER" property="autoClose" />


    <result column="s_price" jdbcType="DOUBLE" property="sPrice" />
    <result column="t_price" jdbcType="DOUBLE" property="tPrice" />
    <result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />

    <result column="iswify" jdbcType="VARCHAR" property="iswify" />
    <result column="isfront" jdbcType="VARCHAR" property="isfront" />
    <result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
    <result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
    <result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
    <result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
    <result column="isheat" jdbcType="VARCHAR" property="isheat" />
    <result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
    <result column="isiron" jdbcType="VARCHAR" property="isiron" />
    <result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
    <result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
    <result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
    <result column="ispark" jdbcType="VARCHAR" property="ispark" />
    <result column="isgym" jdbcType="VARCHAR" property="isgym" />
    <result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
    <result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
    <result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
    <result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
    <result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
    <result column="isknead" jdbcType="VARCHAR" property="isknead" />
    <result column="islounge" jdbcType="VARCHAR" property="islounge" />
    <result column="issuper" jdbcType="VARCHAR" property="issuper" />
    <result column="isbus" jdbcType="VARCHAR" property="isbus" />
    <result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
    <result column="isrestau" jdbcType="VARCHAR" property="isrestau" />


    <!--<collection property="bizPrises" ofType="com.hotel.admin.model.BizPrise">-->
      <!--<result column="room_type" jdbcType="VARCHAR" property="roomType" />-->
      <!--<result column="price_date" jdbcType="VARCHAR" property="priceDate" />-->
      <!--<result column="s_price" jdbcType="DOUBLE" property="sPrice" />-->
      <!--<result column="t_price" jdbcType="DOUBLE" property="tPrice" />-->
      <!--<result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />-->
      <!--<result column="t_room_price" jdbcType="DOUBLE" property="tRoomPrice" />-->
      <!--<result column="creat_by" jdbcType="VARCHAR" property="creatBy" />-->
      <!--<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />-->
      <!--<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />-->
      <!--<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />-->
    <!--</collection>-->
  </resultMap>
  
  <insert id="add" parameterType="com.hotel.admin.model.BizRoom">
    insert into biz_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="hotelCode != null">
        hotel_code,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomStyle != null">
        room_style,
      </if>
      <if test="bedType != null">
        bed_type,
      </if>
      <if test="breakType != null">
        break_type,
      </if>
      <if test="roomArea != null">
        room_area,
      </if>
      <if test="introC != null">
        intro_c,
      </if>
      <if test="introE != null">
        intro_e,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="roomStock != null">
        room_stock,
      </if>
      <if test="recommended != null">
        recommended,
      </if>
      <if test="creatBy != null">
        creat_by,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelCode != null">
        #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomStyle != null">
        #{roomStyle,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null">
        #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="breakType != null">
        #{breakType,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="introC != null">
        #{introC,jdbcType=VARCHAR},
      </if>
      <if test="introE != null">
        #{introE,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=BINARY},
      </if>
      <if test="roomStock != null">
        #{roomStock,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="creatBy != null">
        #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.String">
    delete from biz_room
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </delete>
  
  <update id="update" parameterType="com.hotel.admin.model.BizRoom">
    update biz_room
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="hotelCode != null">
        hotel_code = #{hotelCode,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="roomStyle != null">
        room_style = #{roomStyle,jdbcType=VARCHAR},
      </if>
      <if test="bedType != null">
        bed_type = #{bedType,jdbcType=VARCHAR},
      </if>
      <if test="breakType != null">
        break_type = #{breakType,jdbcType=VARCHAR},
      </if>
      <if test="roomArea != null">
        room_area = #{roomArea,jdbcType=DOUBLE},
      </if>
      <if test="introC != null">
        intro_c = #{introC,jdbcType=VARCHAR},
      </if>
      <if test="introE != null">
        intro_e = #{introE,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=BINARY},
      </if>
      <if test="roomStock != null">
        room_stock = #{roomStock,jdbcType=INTEGER},
      </if>
      <if test="recommended != null">
        recommended = #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="creatBy != null">
        creat_by = #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </update>

  <select id="findByRecommend" resultMap="BaseResultMap">
    select * from biz_room
    where recommended = '01'
  </select>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_room
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </select>
  
  <!--<select id="findPage" parameterType="java.util.Map" resultMap="BaseResultMap">-->
    <!--select-->
    <!--a.hotel_code hotel_code,-->
    <!--d.hotel_cname hotel_cname,-->
    <!--d.hotel_ename hotel_ename,-->
    <!--d.province_code province_code,-->
    <!--d.city_code city_code,-->
    <!--(select para_code from sys_para_config where para_code LIKE 'roomtype%' and para_sub_code1='bizroom' AND para_value1=a.room_type) room_type,-->
    <!--(select para_code from sys_para_config where para_code LIKE 'bedtype%' and para_sub_code1='bizroom' AND para_value1=a.bed_type)  bed_type,-->
    <!--b.inventory inventory,-->
    <!--c.s_room_price s_room_price-->
    <!--from biz_room a LEFT JOIN biz_inv b ON a.room_code=b.room_code LEFT JOIN biz_prise c ON  a.room_code=c.room_code and b.inv_date=c.price_date LEFT JOIN-->
    <!--biz_hotl d ON a.hotel_code = d.hotel_code-->
    <!--WHERE 1=1-->
    <!--<if test="hotelCode != null">-->
     <!--AND d.hotel_code = #{hotelCode,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="hotelName != null">-->
     <!--AND d.hotel_cname LIKE '%'#{hotelName,jdbcType=VARCHAR}'%' OR d.hotel_ename LIKE '%'#{hotelName,jdbcType=VARCHAR}'%'-->
    <!--</if>-->
    <!--<if test="roomType != null">-->
     <!--AND a.room_type = #{roomType,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="bedType != null">-->
     <!--AND a.bed_type = #{bedType,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="breakType != null">-->
     <!--AND a.break_type = #{breakType,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--<if test="inventory != null">-->
      <!--AND b.inventory = #{inventory,jdbcType=VARCHAR} AND c.inv_date = to_char(sysdate,'yyyyMMdd')-->
    <!--</if>-->

  <!--</select>-->

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.BizRoomQuery" resultMap="BaseResultMap">

    select
    a.room_code     room_code,
    a.hotel_code    hotel_code,
    d.hotel_cname   hotel_cname,
    d.hotel_ename   hotel_ename,
    d.province_code province_code,
    d.city_code    city_code,
    a.room_type    room_type,
    a.bed_type     bed_type,
    (select para_code from sys_para_config where para_code LIKE 'roomtype%' and para_sub_code1='bizroom' AND para_value1=a.room_type) room_type_key,
    (select para_code from sys_para_config where para_code LIKE 'bedtype%' and para_sub_code1='bizroom' AND para_value1=a.bed_type)  bed_type_key,
    ifnull(b.inventory,a.room_stock)    inventory,
    b.auto_close   auto_close,
    c.s_room_price s_room_price,
    c.s_price      s_price,
    c.t_price      t_price,
    a.room_style   room_style,
    a.break_type   break_type,
    a.room_area    room_area,
    a.intro_c      intro_c,
    a.intro_e      intro_e,
    a.room_stock   room_stock,
    a.recommended  recommended,
    e.iswify       iswify     ,
    e.isfront      isfront    ,
    e.isbarrifr    isbarrifr  ,
    e.isbalcony    isbalcony  ,
    e.iskitchen    iskitchen  ,
    e.iswindow     iswindow   ,
    e.isheat       isheat     ,
    e.isicebox     isicebox   ,
    e.isiron       isiron     ,
    e.isnosmk      isnosmk    ,
    e.islandscape  islandscape,
    e.ishighrise   ishighrise ,
    e.ispark       ispark     ,
    e.isgym        isgym      ,
    e.isswmp       isswmp     ,
    e.isbeach      isbeach    ,
    e.ishotsp      ishotsp    ,
    e.ischildct    ischildct  ,
    e.isroomserv   isroomserv ,
    e.isknead      isknead    ,
    e.islounge     islounge   ,
    e.issuper      issuper    ,
    e.isbus        isbus      ,
    e.istrafic     istrafic   ,
    e.isrestau     isrestau
    from biz_room a LEFT JOIN biz_inv b ON a.room_code=b.room_code AND ifnull(b.inv_date,date_format(SYSDATE(),'%Y%m%d')) = date_format(SYSDATE(),'%Y%m%d')
    LEFT JOIN biz_prise c ON  a.room_code=c.room_code and c.price_date=date_format(SYSDATE(),'%Y%m%d') LEFT JOIN
    biz_hotl d ON a.hotel_code = d.hotel_code LEFT JOIN biz_room_ext e on a.room_code = e.room_code
    WHERE 1=1
    <if test="hotelCode != null and hotelCode != ''">
      AND d.hotel_code = #{hotelCode,jdbcType=VARCHAR}
    </if>
    <if test="hotelName != null and hotelName !=''">
      AND d.hotel_cname LIKE concat('%',#{hotelName,jdbcType=VARCHAR},'%') OR d.hotel_ename LIKE concat('%',#{hotelName,jdbcType=VARCHAR},'%')
    </if>
    <if test="roomType != null and roomType !=''">
      AND a.room_type = #{roomType,jdbcType=VARCHAR}
    </if>
    <if test="bedType != null and bedType !=''">
      AND a.bed_type = #{bedType,jdbcType=VARCHAR}
    </if>
    <if test="breakType != null and breakType !=''">
      AND a.break_type = #{breakType,jdbcType=VARCHAR}
    </if>
    <if test="inventory != null and inventory !=''"  >
      AND ifnull(b.inventory,a.room_stock) = #{inventory,jdbcType=VARCHAR}  AND ifnull(b.inv_date,date_format(SYSDATE(),'%Y%m%d')) = date_format(SYSDATE(),'%Y%m%d')
    </if>

  </select>
  
</mapper>