<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizRoomExtMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizRoomExt">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="iswify" jdbcType="VARCHAR" property="iswify" />
	<result column="isfront" jdbcType="VARCHAR" property="isfront" />
	<result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
	<result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
	<result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
	<result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
	<result column="isheat" jdbcType="VARCHAR" property="isheat" />
	<result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
	<result column="isiron" jdbcType="VARCHAR" property="isiron" />
	<result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
	<result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
	<result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
	<result column="ispark" jdbcType="VARCHAR" property="ispark" />
	<result column="isgym" jdbcType="VARCHAR" property="isgym" />
	<result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
	<result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
	<result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
	<result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
	<result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
	<result column="isknead" jdbcType="VARCHAR" property="isknead" />
	<result column="islounge" jdbcType="VARCHAR" property="islounge" />
	<result column="issuper" jdbcType="VARCHAR" property="issuper" />
	<result column="isbus" jdbcType="VARCHAR" property="isbus" />
	<result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
	<result column="isrestau" jdbcType="VARCHAR" property="isrestau" />
	<result column="creat_by" jdbcType="VARCHAR" property="creatBy" />
	<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="com.hotel.admin.model.BizRoomExt">
    insert into biz_room_ext
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        room_code,
      </if>
      <if test="iswify != null">
        iswify,
      </if>
      <if test="isfront != null">
        isfront,
      </if>
      <if test="isbarrifr != null">
        isbarrifr,
      </if>
      <if test="isbalcony != null">
        isbalcony,
      </if>
      <if test="iskitchen != null">
        iskitchen,
      </if>
      <if test="iswindow != null">
        iswindow,
      </if>
      <if test="isheat != null">
        isheat,
      </if>
      <if test="isicebox != null">
        isicebox,
      </if>
      <if test="isiron != null">
        isiron,
      </if>
      <if test="isnosmk != null">
        isnosmk,
      </if>
      <if test="islandscape != null">
        islandscape,
      </if>
      <if test="ishighrise != null">
        ishighrise,
      </if>
      <if test="ispark != null">
        ispark,
      </if>
      <if test="isgym != null">
        isgym,
      </if>
      <if test="isswmp != null">
        isswmp,
      </if>
      <if test="isbeach != null">
        isbeach,
      </if>
      <if test="ishotsp != null">
        ishotsp,
      </if>
      <if test="ischildct != null">
        ischildct,
      </if>
      <if test="isroomserv != null">
        isroomserv,
      </if>
      <if test="isknead != null">
        isknead,
      </if>
      <if test="islounge != null">
        islounge,
      </if>
      <if test="issuper != null">
        issuper,
      </if>
      <if test="isbus != null">
        isbus,
      </if>
      <if test="istrafic != null">
        istrafic,
      </if>
      <if test="isrestau != null">
        isrestau,
      </if>
      <if test="creatBy != null">
        creat_by,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="iswify != null">
        #{iswify,jdbcType=VARCHAR},
      </if>
      <if test="isfront != null">
        #{isfront,jdbcType=VARCHAR},
      </if>
      <if test="isbarrifr != null">
        #{isbarrifr,jdbcType=VARCHAR},
      </if>
      <if test="isbalcony != null">
        #{isbalcony,jdbcType=VARCHAR},
      </if>
      <if test="iskitchen != null">
        #{iskitchen,jdbcType=VARCHAR},
      </if>
      <if test="iswindow != null">
        #{iswindow,jdbcType=VARCHAR},
      </if>
      <if test="isheat != null">
        #{isheat,jdbcType=VARCHAR},
      </if>
      <if test="isicebox != null">
        #{isicebox,jdbcType=VARCHAR},
      </if>
      <if test="isiron != null">
        #{isiron,jdbcType=VARCHAR},
      </if>
      <if test="isnosmk != null">
        #{isnosmk,jdbcType=VARCHAR},
      </if>
      <if test="islandscape != null">
        #{islandscape,jdbcType=VARCHAR},
      </if>
      <if test="ishighrise != null">
        #{ishighrise,jdbcType=VARCHAR},
      </if>
      <if test="ispark != null">
        #{ispark,jdbcType=VARCHAR},
      </if>
      <if test="isgym != null">
        #{isgym,jdbcType=VARCHAR},
      </if>
      <if test="isswmp != null">
        #{isswmp,jdbcType=VARCHAR},
      </if>
      <if test="isbeach != null">
        #{isbeach,jdbcType=VARCHAR},
      </if>
      <if test="ishotsp != null">
        #{ishotsp,jdbcType=VARCHAR},
      </if>
      <if test="ischildct != null">
        #{ischildct,jdbcType=VARCHAR},
      </if>
      <if test="isroomserv != null">
        #{isroomserv,jdbcType=VARCHAR},
      </if>
      <if test="isknead != null">
        #{isknead,jdbcType=VARCHAR},
      </if>
      <if test="islounge != null">
        #{islounge,jdbcType=VARCHAR},
      </if>
      <if test="issuper != null">
        #{issuper,jdbcType=VARCHAR},
      </if>
      <if test="isbus != null">
        #{isbus,jdbcType=VARCHAR},
      </if>
      <if test="istrafic != null">
        #{istrafic,jdbcType=VARCHAR},
      </if>
      <if test="isrestau != null">
        #{isrestau,jdbcType=VARCHAR},
      </if>
      <if test="creatBy != null">
        #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.String">
    delete from biz_room_ext
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </delete>
  
  <update id="update" parameterType="com.hotel.admin.model.BizRoomExt">
    update biz_room_ext
    <set>
      <if test="roomCode != null">
        room_code = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="iswify != null">
        iswify = #{iswify,jdbcType=VARCHAR},
      </if>
      <if test="isfront != null">
        isfront = #{isfront,jdbcType=VARCHAR},
      </if>
      <if test="isbarrifr != null">
        isbarrifr = #{isbarrifr,jdbcType=VARCHAR},
      </if>
      <if test="isbalcony != null">
        isbalcony = #{isbalcony,jdbcType=VARCHAR},
      </if>
      <if test="iskitchen != null">
        iskitchen = #{iskitchen,jdbcType=VARCHAR},
      </if>
      <if test="iswindow != null">
        iswindow = #{iswindow,jdbcType=VARCHAR},
      </if>
      <if test="isheat != null">
        isheat = #{isheat,jdbcType=VARCHAR},
      </if>
      <if test="isicebox != null">
        isicebox = #{isicebox,jdbcType=VARCHAR},
      </if>
      <if test="isiron != null">
        isiron = #{isiron,jdbcType=VARCHAR},
      </if>
      <if test="isnosmk != null">
        isnosmk = #{isnosmk,jdbcType=VARCHAR},
      </if>
      <if test="islandscape != null">
        islandscape = #{islandscape,jdbcType=VARCHAR},
      </if>
      <if test="ishighrise != null">
        ishighrise = #{ishighrise,jdbcType=VARCHAR},
      </if>
      <if test="ispark != null">
        ispark = #{ispark,jdbcType=VARCHAR},
      </if>
      <if test="isgym != null">
        isgym = #{isgym,jdbcType=VARCHAR},
      </if>
      <if test="isswmp != null">
        isswmp = #{isswmp,jdbcType=VARCHAR},
      </if>
      <if test="isbeach != null">
        isbeach = #{isbeach,jdbcType=VARCHAR},
      </if>
      <if test="ishotsp != null">
        ishotsp = #{ishotsp,jdbcType=VARCHAR},
      </if>
      <if test="ischildct != null">
        ischildct = #{ischildct,jdbcType=VARCHAR},
      </if>
      <if test="isroomserv != null">
        isroomserv = #{isroomserv,jdbcType=VARCHAR},
      </if>
      <if test="isknead != null">
        isknead = #{isknead,jdbcType=VARCHAR},
      </if>
      <if test="islounge != null">
        islounge = #{islounge,jdbcType=VARCHAR},
      </if>
      <if test="issuper != null">
        issuper = #{issuper,jdbcType=VARCHAR},
      </if>
      <if test="isbus != null">
        isbus = #{isbus,jdbcType=VARCHAR},
      </if>
      <if test="istrafic != null">
        istrafic = #{istrafic,jdbcType=VARCHAR},
      </if>
      <if test="isrestau != null">
        isrestau = #{isrestau,jdbcType=VARCHAR},
      </if>
      <if test="creatBy != null">
        creat_by = #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </update>

  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_room_ext
    where room_code = #{roomCode,jdbcType=VARCHAR}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from biz_room_ext
  </select>
  
</mapper>