<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.BizRecommendRoomMapper">
  <resultMap id="BaseResultMap" type="com.hotel.admin.model.BizRecommendRoom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="room_code" jdbcType="VARCHAR" property="roomCode" />
    <result column="custroom_type" jdbcType="VARCHAR" property="custroomType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, room_code,custroom_type
  </sql>

</mapper>