<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.HotelRoomMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.dto.HotelRoomDto">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
    <result column="room_type_key" jdbcType="VARCHAR" property="roomTypeKey" />
	<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
	<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
	<result column="break_type" jdbcType="VARCHAR" property="breakType" />
    <result column="break_type_key" jdbcType="VARCHAR" property="breakTypeKey" />
    <result column="bed_type_key" jdbcType="VARCHAR" property="bedTypeKey" />
    <result column="province_code_key" jdbcType="VARCHAR" property="provinceCodeKey" />
    <result column="city_code_key" jdbcType="VARCHAR" property="cityCodeKey" />
    <result column="hotel_type_key" jdbcType="VARCHAR" property="hotelTypeKey" />
    <result column="room_area" jdbcType="DOUBLE" property="roomArea" />
	<result column="intro_c" jdbcType="VARCHAR" property="introC" />
	<result column="intro_e" jdbcType="VARCHAR" property="introE" />
	<result column="photo" jdbcType="BINARY" property="photo" />
	<result column="room_stock" jdbcType="INTEGER" property="roomStock" />
	<result column="recommended" jdbcType="VARCHAR" property="recommended" />
	<result column="create_name" jdbcType="VARCHAR" property="createName" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_name" jdbcType="VARCHAR" property="updateName" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

<!--    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />-->
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
    <result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
    <result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="s_room_price" jdbcType="DOUBLE" property="sRoomPrice" />
    <result column="price" jdbcType="DOUBLE" property="sPrice" />
    <!--<result column="out_date" jdbcType="VARCHAR" property="outDateEnd" />-->
    <!--<result column="in_date" jdbcType="VARCHAR" property="inDateStart" />-->
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />

    <result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
    <result column="iswify" jdbcType="VARCHAR" property="iswify" />
    <result column="isfront" jdbcType="VARCHAR" property="isfront" />
    <result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
    <result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
    <result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
    <result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
    <result column="isheat" jdbcType="VARCHAR" property="isheat" />
    <result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
    <result column="isiron" jdbcType="VARCHAR" property="isiron" />
    <result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
    <result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
    <result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
    <result column="ispark" jdbcType="VARCHAR" property="ispark" />
    <result column="isgym" jdbcType="VARCHAR" property="isgym" />
    <result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
    <result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
    <result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
    <result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
    <result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
    <result column="isknead" jdbcType="VARCHAR" property="isknead" />
    <result column="islounge" jdbcType="VARCHAR" property="islounge" />
    <result column="issuper" jdbcType="VARCHAR" property="issuper" />
    <result column="isbus" jdbcType="VARCHAR" property="isbus" />
    <result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
    <result column="isrestau" jdbcType="VARCHAR" property="isrestau" />
  </resultMap>

  <sql id="br_hotel_sql">
    b.hotel_code,b.province_code,b.city_code,b.hotel_type,b.hotel_level,b.hotel_cname,b.hotel_ename,b.hotel_addr,b.hotel_phone,b.hotel_web
  </sql>
  <sql id="br_room_sql">
    a.room_code,a.room_type,a.room_style,a.bed_type,a.break_type,a.room_area,a.room_stock
  </sql>
  <sql id="br_room_ext_sql">
    iswify,isfront,isbarrifr,isbalcony,iskitchen,iswindow,isheat,isicebox,isiron,isnosmk,islandscape,ishighrise,ispark,isgym,isswmp,isbeach,ishotsp,ischildct,isroomserv,isknead,islounge,issuper,isbus,istrafic,isrestau
  </sql>
  <sql id="br_price_sql">
    p.price
  </sql>
  <sql id="br_bi_sql">
    p.inventory
  </sql>

  <select id="callCalendar" statementType="CALLABLE">
      call create_calendar(#{inDateStart,mode=IN},#{outDateEnd,mode=IN})
  </select>

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.HotelRoomQry" resultMap="BaseResultMap">
    SELECT
        <include refid="br_hotel_sql"/>,
        <include refid="br_room_ext_sql"/>,
        <include refid="br_room_sql"/>,
      (select para_code from sys_para_config where para_code LIKE 'roomtype%' and para_sub_code1='bizroom' AND para_value1=a.room_type) room_type_key,
      (select para_code from sys_para_config where para_code LIKE 'bedtype%' and para_sub_code1='bizroom' AND para_value1=a.bed_type)  bed_type_key,
      (select para_code from sys_para_config where para_code LIKE 'breakType%' and para_sub_code1='bizroom' AND para_value1=a.break_type)  break_type_key,
      (select para_code from sys_para_config where para_code LIKE 'province%' and para_sub_code1='provinceCode' AND para_value1=b.province_code)  province_code_key,
      (select para_code from sys_para_config where para_code LIKE 'cityCode%' and para_sub_code1='cityCode' AND para_value1=b.city_code)  city_code_key,
      (select para_code from sys_para_config where para_code LIKE 'hotelType%' and para_sub_code1='hotelType' AND para_value1=b.hotel_type)  hotel_type_key,
        <include refid="br_price_sql"/>,
        <include refid="br_bi_sql"></include>
    FROM
        biz_room a
        JOIN biz_hotl b ON a.hotel_code = b.hotel_code
        JOIN biz_room_ext bre ON a.room_code = bre.room_code
          JOIN (
              (SELECT
                  f.room_code,
                  avg(g.s_price) price,
                  min(bi.inventory) inventory
              FROM
                  (SELECT
                        x.date,
                        c.room_code
                  FROM
                        biz_room c
                  JOIN ( SELECT DATE_FORMAT( date, '%Y%m%d' ) date
                         FROM calendar
                         WHERE date BETWEEN DATE_FORMAT( #{inDateStart}, '%Y%m%d') AND DATE_FORMAT( #{outDateEnd}, '%Y%m%d')
                         ) x
                  ) f
                  LEFT JOIN biz_inv bi ON f.room_code = bi.room_code AND f.date = bi.inv_date
                  LEFT JOIN biz_prise g ON f.room_code = g.room_code and f.date = g.price_date
              WHERE
                  g.s_price is not null
              GROUP BY
                  f.room_code
              HAVING
              count( f.room_code ) = DATEDIFF(DATE_FORMAT( #{outDateEnd}, '%Y%m%d'),DATE_FORMAT( #{inDateStart}, '%Y%m%d') ) +1)
              ) p ON a.room_code = p.room_code
    WHERE
        a.del_flag = 0
        AND a.room_code IN (
          SELECT
              brd.room_code
          FROM
          (
              SELECT
                  d.date,
                  br.room_code,
                  br.room_type,
                  br.room_style,
                  br.bed_type,
                  br.break_type,
                  br.room_area,
                  br.room_stock brs
              FROM
                  biz_room br
              JOIN ( SELECT
                        DATE_FORMAT( date, '%Y%m%d' ) date
                     FROM calendar
                     WHERE date BETWEEN DATE_FORMAT( #{inDateStart}, '%Y%m%d') AND DATE_FORMAT( #{outDateEnd}, '%Y%m%d') ) d
          ) brd
          LEFT JOIN biz_inv bi ON brd.room_code = bi.room_code AND brd.date = bi.inv_date
          LEFT JOIN biz_prise bp ON brd.room_code = bp.room_code AND brd.date = bp.price_date
          WHERE
              <choose>
                  <when test="roomNum!=null">
                      IFNULL( bi.inventory, brd.brs ) &gt;= #{roomNum}
                  </when>
                  <otherwise>
                      IFNULL( bi.inventory, brd.brs ) &gt; 0
                  </otherwise>
              </choose>
              AND bp.s_price IS NOT NULL
              GROUP BY
              brd.room_code
          HAVING
              count( brd.room_code ) = DATEDIFF(DATE_FORMAT( #{outDateEnd}, '%Y%m%d'),DATE_FORMAT( #{inDateStart}, '%Y%m%d') ) +1
          )
    <if test="provinceCode != null and provinceCode!=''">
      AND b.province_code = #{provinceCode,jdbcType=VARCHAR}
    </if>
    <if test="cityCode != null and cityCode!=''">
      AND b.city_code = #{cityCode,jdbcType=VARCHAR}
    </if>
    <if test="hotelType != null and hotelType!=''">
      AND b.hotel_type = #{hotelType,jdbcType=VARCHAR}
    </if>
    <if test="hotelLevel != null and hotelLevel!=''">
      AND b.hotel_level = #{hotelLevel,jdbcType=VARCHAR}
    </if>
    <if test="hotelName !=null and hotelName!=''">
      AND (b.hotem_cname LIKE CONCAT('%',#{hotelName},'%') or b.hotel_ename LIKE CONCAT('%',#{hotelName},'%'))
    </if>
    <if test="roomType != null and roomType!=''">
      AND a.room_type = #{roomType,jdbcType=VARCHAR}
    </if>
    <if test="bedType != null and bedType!=''">
      AND a.bed_type = #{bedType,jdbcType=VARCHAR}
    </if>
    <if test="breakType != null and breakType!=''">
      AND a.break_type = #{breakType,jdbcType=VARCHAR}
    </if>
    <if test="roomStyle != null and roomStyle!=''">
      AND a.room_style = #{roomStyle,jdbcType=VARCHAR}
    </if>
    <if test="roomArea != null">
      AND a.room_area &gt;= #{roomArea,jdbcType=VARCHAR}
    </if>
    <if test="iswify != null and iswify !=''">
      AND bre.iswify = #{iswify,jdbcType=VARCHAR}
    </if>
    <if test="isfront != null and isfront !=''">
      AND bre. isfront = #{isfront,jdbcType=VARCHAR}
    </if>
    <if test="isbarrifr != null and isbarrifr !=''">
      AND bre.isbarrifr = #{isbarrifr,jdbcType=VARCHAR}
    </if>
    <if test="isbalcony != null and isbalcony !=''">
      AND bre.isbalcony = #{isbalcony,jdbcType=VARCHAR}
    </if>
    <if test="iskitchen != null and iskitchen !=''">
        AND bre.iskitchen = #{iskitchen,jdbcType=VARCHAR}
    </if>
    <if test="iswindow != null and iswindow !=''">
        AND bre.iswindow = #{iswindow,jdbcType=VARCHAR}
    </if>
    <if test="isheat != null and isheat !=''">
        AND bre.isheat = #{isheat,jdbcType=VARCHAR}
    </if>
    <if test="isicebox != null and isicebox !=''">
        AND bre.isicebox = #{isicebox,jdbcType=VARCHAR}
    </if>
    <if test="iswindow != null and iswindow!=''">
        AND bre.iswindow = #{iswindow,jdbcType=VARCHAR}
    </if>
    <if test="isheat != null and isheat!=''">
        AND bre.isheat = #{isheat,jdbcType=VARCHAR}
    </if>
    <if test="isicebox != null and isicebox!=''">
        AND bre.isicebox = #{isicebox,jdbcType=VARCHAR}
    </if>
    <if test="isiron != null and isiron!=''">
        AND bre.isiron = #{isiron,jdbcType=VARCHAR}
    </if>
    <if test="isnosmk != null and isnosmk!=''">
        AND bre.isnosmk = #{isnosmk,jdbcType=VARCHAR}
    </if>
    <if test="islandscape != null and islandscape!=''">
        AND bre.islandscape = #{islandscape,jdbcType=VARCHAR}
    </if>
    <if test="ishighrise != null and ishighrise!=''">
        AND bre.ishighrise = #{ishighrise,jdbcType=VARCHAR}
    </if>
    <if test="ispark != null and ispark!=''">
        AND bre.ispark = #{ispark,jdbcType=VARCHAR}
    </if>
    <if test="isgym != null and isgym!=''">
        AND bre.isgym = #{isgym,jdbcType=VARCHAR}
    </if>
    <if test="isswmp != null and isswmp!=''">
        AND bre.isswmp = #{isswmp,jdbcType=VARCHAR}
    </if>
    <if test="isbeach != null and isbeach!=''">
        AND bre.isbeach = #{isbeach,jdbcType=VARCHAR}
    </if>
    <if test="ishotsp != null and ishotsp!=''">
        AND bre.ishotsp = #{ishotsp,jdbcType=VARCHAR}
    </if>
    <if test="ischildct != null and ischildct!=''">
        AND bre.ischildct = #{ischildct,jdbcType=VARCHAR}
    </if>
    <if test="isroomserv != null and isroomserv!=''">
        AND bre.isroomserv = #{isroomserv,jdbcType=VARCHAR}
    </if>
    <if test="isknead != null and isknead!=''">
        AND bre. isknead = #{ isknead,jdbcType=VARCHAR}
    </if>
    <if test="islounge != null and islounge!=''">
        AND bre.islounge = #{islounge,jdbcType=VARCHAR}
    </if>
    <if test="issuper != null and issuper!=''">
        AND bre.issuper = #{issuper,jdbcType=VARCHAR}
    </if>
    <if test="isbus != null and isbus!=''">
        AND bre.isbus = #{isbus,jdbcType=VARCHAR}
    </if>
    <if test="istrafic != null and istrafic!=''">
        AND bre.istrafic = #{istrafic,jdbcType=VARCHAR}
    </if>
    <if test="isrestau != null and isrestau !=''">
        AND bre.isrestau = #{isrestau,jdbcType=VARCHAR}
    </if>
    <if test="lowRoomPrice!=null or highRoomPrice!=null">
        <choose>
            <when test="lowRoomPrice!=null and highRoomPrice==null">
                AND p.price &lt;= #{lowRoomPrice}
            </when>
            <when test="lowRoomPrice==null and highRoomPrice!=null">
                AND p.price &lt;= #{highRoomPrice}
            </when>
            <otherwise>
                AND p.price BETWEEN #{lowRoomPrice} AND #{highRoomPrice}
            </otherwise>
        </choose>
    </if>
  </select>

</mapper>