<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.HotelRoomMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.dto.HotelRoomDto">
	<id column="room_code" jdbcType="VARCHAR" property="roomCode" />
	<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
	<result column="room_type" jdbcType="VARCHAR" property="roomType" />
	<result column="room_style" jdbcType="VARCHAR" property="roomStyle" />
	<result column="bed_type" jdbcType="VARCHAR" property="bedType" />
	<result column="break_type" jdbcType="VARCHAR" property="breakType" />
    <result column="room_area" jdbcType="DOUBLE" property="roomArea" />
	<result column="intro_c" jdbcType="VARCHAR" property="introC" />
	<result column="intro_e" jdbcType="VARCHAR" property="introE" />
	<result column="photo" jdbcType="VARCHAR" property="photo" />
	<result column="room_stock" jdbcType="INTEGER" property="roomStock" />
	<result column="recommended" jdbcType="VARCHAR" property="recommended" />

<!--    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />-->
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
    <result column="hotel_level" jdbcType="VARCHAR" property="hotelLevel" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="hotel_cname" jdbcType="VARCHAR" property="hotelCname" />
    <result column="hotel_ename" jdbcType="VARCHAR" property="hotelEname" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="price" jdbcType="DOUBLE" property="sPrice" />
    <result column="end_price" jdbcType="DOUBLE" property="endPrice" />
    <!--<result column="out_date" jdbcType="VARCHAR" property="outDateEnd" />-->
    <!--<result column="in_date" jdbcType="VARCHAR" property="inDateStart" />-->
    <result column="hotel_addr" jdbcType="VARCHAR" property="hotelAddr" />
    <result column="hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="hotel_web" jdbcType="VARCHAR" property="hotelWeb" />
    <result column="scheduledays" jdbcType="VARCHAR" property="scheduledays" />
    <result column="favorableprice" jdbcType="VARCHAR" property="favorableprice" />
      <result column="evenlive" jdbcType="VARCHAR" property="evenlive"/>
      <result column="present" jdbcType="VARCHAR" property="present"/>

    <result column="hotel_type" jdbcType="VARCHAR" property="hotelType" />
    <result column="iswify" jdbcType="VARCHAR" property="iswify" />
    <result column="isfront" jdbcType="VARCHAR" property="isfront" />
    <result column="isbarrifr" jdbcType="VARCHAR" property="isbarrifr" />
    <result column="isbalcony" jdbcType="VARCHAR" property="isbalcony" />
    <result column="iskitchen" jdbcType="VARCHAR" property="iskitchen" />
    <result column="iswindow" jdbcType="VARCHAR" property="iswindow" />
    <result column="isheat" jdbcType="VARCHAR" property="isheat" />
    <result column="isicebox" jdbcType="VARCHAR" property="isicebox" />
    <result column="isiron" jdbcType="VARCHAR" property="isiron" />
    <result column="isnosmk" jdbcType="VARCHAR" property="isnosmk" />
    <result column="islandscape" jdbcType="VARCHAR" property="islandscape" />
    <result column="ishighrise" jdbcType="VARCHAR" property="ishighrise" />
    <result column="ispark" jdbcType="VARCHAR" property="ispark" />
    <result column="isgym" jdbcType="VARCHAR" property="isgym" />
    <result column="isswmp" jdbcType="VARCHAR" property="isswmp" />
    <result column="isbeach" jdbcType="VARCHAR" property="isbeach" />
    <result column="ishotsp" jdbcType="VARCHAR" property="ishotsp" />
    <result column="ischildct" jdbcType="VARCHAR" property="ischildct" />
    <result column="isroomserv" jdbcType="VARCHAR" property="isroomserv" />
    <result column="isknead" jdbcType="VARCHAR" property="isknead" />
    <result column="islounge" jdbcType="VARCHAR" property="islounge" />
    <result column="issuper" jdbcType="VARCHAR" property="issuper" />
    <result column="isbus" jdbcType="VARCHAR" property="isbus" />
    <result column="istrafic" jdbcType="VARCHAR" property="istrafic" />
    <result column="isrestau" jdbcType="VARCHAR" property="isrestau" />
  </resultMap>

  <sql id="br_hotel_sql">
    b.hotel_code,b.province_code ,b.city_code,b.hotel_type ,b.hotel_level ,b.hotel_cname ,b.hotel_ename ,b.hotel_addr ,b.hotel_phone ,b.hotel_web,b.scheduledays,b.favorableprice,b.present,b.evenlive
  </sql>
  <sql id="br_hotel_sql2">
    b.hotel_code AS hotelCode,b.province_code AS provinceCode ,b.city_code AS cityCode,b.hotel_type AS hotelType,b.hotel_level AS hotelLevel,b.hotel_cname AS hotelCname,b.hotel_ename AS hotelEname,b.hotel_addr AS hotelAddr,b.hotel_phone AS hotelPhone,b.hotel_web AS hotelWeb
  </sql>
  <sql id="br_room_sql">
    a.room_code,a.room_type,a.room_style,a.bed_type,a.break_type,a.room_area,a.photo,a.intro_c,a.intro_e
  </sql>
  <sql id="br_room_ext_sql">
    iswify,isfront,isbarrifr,isbalcony,iskitchen,iswindow,isheat,isicebox,isiron,isnosmk,islandscape,ishighrise,ispark,isgym,isswmp,isbeach,ishotsp,ischildct,isroomserv,isknead,islounge,issuper,isbus,istrafic,isrestau
  </sql>
  <sql id="br_price_sql">
    p.price,p.end_price
  </sql>
  <sql id="br_bi_sql">
    p.inventory
  </sql>

  <select id="callCalendar" statementType="CALLABLE">
      call create_calendar(#{inDateStart,mode=IN},#{outDateEnd,mode=IN})
  </select>

  <select id="findPageByPara" parameterType="com.hotel.admin.dto.HotelRoomQry" resultMap="BaseResultMap">
    SELECT
        <include refid="br_hotel_sql"/>,
        <include refid="br_room_ext_sql"/>,
        <include refid="br_room_sql"/>,
        <include refid="br_price_sql"/>,
        <include refid="br_bi_sql"/>
    FROM
        biz_room a
        JOIN biz_hotl b ON a.hotel_code = b.hotel_code
        JOIN biz_room_ext bre ON a.room_code = bre.room_code
          JOIN (
              (SELECT
                  f.room_code,
                  ceil(avg(g.s_room_price)) price,
                  ceil(avg(g.t_price)) end_price,
                  min( IFNULL(bi.inventory,bh.room_stock) ) inventory
              FROM
                  (SELECT
                        x.date,
                        c.room_code,
                        c.hotel_code
                  FROM
                        biz_room c
                  JOIN ( SELECT DATE_FORMAT( date, '%Y%m%d' ) date
                         FROM calendar
                         WHERE date BETWEEN DATE_FORMAT( #{inDateStart}, '%Y%m%d') AND DATE_FORMAT( #{outDateEnd}, '%Y%m%d')
                         ) x
                  ) f
                  LEFT JOIN biz_hotl bh on f.hotel_code = bh.hotel_code
                  LEFT JOIN biz_inv bi ON f.room_code = bi.room_code AND f.date = bi.inv_date
                  LEFT JOIN biz_prise g ON f.room_code = g.room_code and f.date = g.price_date
              WHERE
                  g.s_price is not null
              GROUP BY
                  f.room_code
              HAVING
              count( f.room_code ) = DATEDIFF(DATE_FORMAT( #{outDateEnd}, '%Y%m%d'),DATE_FORMAT( #{inDateStart}, '%Y%m%d') ) +1)
              ) p ON a.room_code = p.room_code
    WHERE
        a.del_flag = 0
      <choose>
          <when test="roomNum!=null">
              and IFNULL( bi.inventory, brd.brs ) &gt;= #{roomNum}
          </when>
          <otherwise>
              and IFNULL( bi.inventory, brd.brs ) &gt; 0
          </otherwise>
      </choose>
    <if test="provinceCode != null and provinceCode!=''">
      AND b.province_code = #{provinceCode,jdbcType=VARCHAR}
    </if>
    <if test="cityCode != null and cityCode!=''">
      AND b.city_code = #{cityCode,jdbcType=VARCHAR}
    </if>
    <if test="hotelType != null and hotelType!=''">
      AND b.hotel_type = #{hotelType,jdbcType=VARCHAR}
    </if>
    <if test="hotelLevel != null and hotelLevel!=''">
      AND b.hotel_level in
      <foreach collection="hotelLevel.split(',')" item="itm" open="(" separator="," close=")">
          #{itm}
      </foreach>
    </if>
    <if test="hotelName !=null and hotelName!=''">
      AND (b.hotel_cname LIKE CONCAT('%',#{hotelName},'%') or b.hotel_ename LIKE CONCAT('%',#{hotelName},'%'))
    </if>
    <if test="roomType != null and roomType!=''">
      AND a.room_type = #{roomType,jdbcType=VARCHAR}
    </if>
    <if test="roomCode != null and roomCode!=''">
      AND a.room_code = #{roomCode,jdbcType=VARCHAR}
    </if>
    <if test="bedType != null and bedType!=''">
      AND a.bed_type = #{bedType,jdbcType=VARCHAR}
    </if>
    <if test="breakType != null and breakType!=''">
      AND a.break_type = #{breakType,jdbcType=VARCHAR}
    </if>
    <if test="roomStyle != null and roomStyle!=''">
      AND a.room_style = #{roomStyle,jdbcType=VARCHAR}
    </if>
    <if test="roomArea != null">
      AND a.room_area &gt;= #{roomArea,jdbcType=VARCHAR}
    </if>
    <if test="iswify != null and iswify !=''">
      AND bre.iswify = #{iswify,jdbcType=VARCHAR}
    </if>
    <if test="isfront != null and isfront !=''">
      AND bre. isfront = #{isfront,jdbcType=VARCHAR}
    </if>
    <if test="isbarrifr != null and isbarrifr !=''">
      AND bre.isbarrifr = #{isbarrifr,jdbcType=VARCHAR}
    </if>
    <if test="isbalcony != null and isbalcony !=''">
      AND bre.isbalcony = #{isbalcony,jdbcType=VARCHAR}
    </if>
    <if test="iskitchen != null and iskitchen !=''">
        AND bre.iskitchen = #{iskitchen,jdbcType=VARCHAR}
    </if>
    <if test="iswindow != null and iswindow !=''">
        AND bre.iswindow = #{iswindow,jdbcType=VARCHAR}
    </if>
    <if test="isheat != null and isheat !=''">
        AND bre.isheat = #{isheat,jdbcType=VARCHAR}
    </if>
    <if test="isicebox != null and isicebox !=''">
        AND bre.isicebox = #{isicebox,jdbcType=VARCHAR}
    </if>
    <if test="iswindow != null and iswindow!=''">
        AND bre.iswindow = #{iswindow,jdbcType=VARCHAR}
    </if>
    <if test="isheat != null and isheat!=''">
        AND bre.isheat = #{isheat,jdbcType=VARCHAR}
    </if>
    <if test="isicebox != null and isicebox!=''">
        AND bre.isicebox = #{isicebox,jdbcType=VARCHAR}
    </if>
    <if test="isiron != null and isiron!=''">
        AND bre.isiron = #{isiron,jdbcType=VARCHAR}
    </if>
    <if test="isnosmk != null and isnosmk!=''">
        AND bre.isnosmk = #{isnosmk,jdbcType=VARCHAR}
    </if>
    <if test="islandscape != null and islandscape!=''">
        AND bre.islandscape = #{islandscape,jdbcType=VARCHAR}
    </if>
    <if test="ishighrise != null and ishighrise!=''">
        AND bre.ishighrise = #{ishighrise,jdbcType=VARCHAR}
    </if>
    <if test="ispark != null and ispark!=''">
        AND bre.ispark = #{ispark,jdbcType=VARCHAR}
    </if>
    <if test="isgym != null and isgym!=''">
        AND bre.isgym = #{isgym,jdbcType=VARCHAR}
    </if>
    <if test="isswmp != null and isswmp!=''">
        AND bre.isswmp = #{isswmp,jdbcType=VARCHAR}
    </if>
    <if test="isbeach != null and isbeach!=''">
        AND bre.isbeach = #{isbeach,jdbcType=VARCHAR}
    </if>
    <if test="ishotsp != null and ishotsp!=''">
        AND bre.ishotsp = #{ishotsp,jdbcType=VARCHAR}
    </if>
    <if test="ischildct != null and ischildct!=''">
        AND bre.ischildct = #{ischildct,jdbcType=VARCHAR}
    </if>
    <if test="isroomserv != null and isroomserv!=''">
        AND bre.isroomserv = #{isroomserv,jdbcType=VARCHAR}
    </if>
    <if test="isknead != null and isknead!=''">
        AND bre. isknead = #{ isknead,jdbcType=VARCHAR}
    </if>
    <if test="islounge != null and islounge!=''">
        AND bre.islounge = #{islounge,jdbcType=VARCHAR}
    </if>
    <if test="issuper != null and issuper!=''">
        AND bre.issuper = #{issuper,jdbcType=VARCHAR}
    </if>
    <if test="isbus != null and isbus!=''">
        AND bre.isbus = #{isbus,jdbcType=VARCHAR}
    </if>
    <if test="istrafic != null and istrafic!=''">
        AND bre.istrafic = #{istrafic,jdbcType=VARCHAR}
    </if>
    <if test="isrestau != null and isrestau !=''">
        AND bre.isrestau = #{isrestau,jdbcType=VARCHAR}
    </if>
    <if test="adultNum!=null or childNum!=null">
        <choose>
            <when test="adultNum!=null and childNum==null">
                AND (p.inventory * a.room_type) &gt;= #{adultNum}
            </when>
            <when test="adultNum==null and childNum!=null">
                AND (p.inventory * a.room_type) &gt;= #{childNum}
            </when>
            <otherwise>
                AND (p.inventory * a.room_type) &gt;= (#{adultNum} + #{childNum})
            </otherwise>
        </choose>
    </if>
    <if test="lowRoomPrice!=null or highRoomPrice!=null">
        <choose>
            <when test="lowRoomPrice!=null and highRoomPrice==null">
                AND p.price &lt;= #{lowRoomPrice}
            </when>
            <when test="lowRoomPrice==null and highRoomPrice!=null">
                AND p.price &lt;= #{highRoomPrice}
            </when>
            <otherwise>
                AND p.price BETWEEN #{lowRoomPrice} AND #{highRoomPrice}
            </otherwise>
        </choose>
    </if>
  </select>
    <select id="findLikeByName" resultType="com.hotel.admin.model.BizHotl">
        SELECT <include refid="br_hotel_sql2"/> from biz_hotl b where b.hotel_cname LIKE CONCAT('%',#{name},'%') or b.hotel_ename LIKE CONCAT('%',#{name},'%') limit 5
    </select>

</mapper>