<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.admin.mapper.MrDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.admin.model.MrDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="report_month" property="reportMonth" jdbcType="VARCHAR" />
    <result column="report_seq" property="reportSeq" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="room_code" property="roomCode" jdbcType="VARCHAR" />
    <result column="child_num" property="childNum" jdbcType="INTEGER" />
    <result column="c_num" property="cNum" jdbcType="INTEGER" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="total_s_amount" property="totalSAmount" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="r0004ReportMap" type="com.hotel.admin.dto.MrR0004DetailDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="total_sell_amt" property="totalSellAmt" jdbcType="VARCHAR" />
    <result column="total_settlement_amt" property="totalSettlementAmt" jdbcType="VARCHAR" />
    <result column="pending_amt" property="pendingAmt" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="r0005ReportMap" type="com.hotel.admin.dto.MrR0005DetailDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="room_num" property="roomNum" jdbcType="VARCHAR" />
    <result column="total_sell_amt" property="totalSellAmt" jdbcType="VARCHAR" />
    <result column="total_settlement_amt" property="totalSettlementAmt" jdbcType="VARCHAR" />
    <result column="pending_amt" property="pendingAmt" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Dept_Column_List" >
     report_id, report_month, report_seq,hotel_code,
    order_num,room_num,total_sell_amt,total_settlement_amt, status
  </sql>

  <sql id="User_Column_List" >
     report_id, report_month, report_seq,create_id,create_name,
    order_num,room_num,total_sell_amt,total_settlement_amt, status
  </sql>

  <insert id="impMonDeptData" parameterType="com.hotel.admin.model.MrDetail" >
    insert into mr_detail  ( <include refid="Dept_Column_List"/> )
    SELECT #{reportId}, #{reportMonth}, #{reportSeq},
    hotel_code, count(hotel_code),  sum(room_num),  sum(total_s_amount), sum(total_t_amount),status
    from biz_puchs
    where  1=1
    <if test="createTimeEnd != null and createTimeEnd != ''">
      and create_time  &lt;=  DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d %H:%i:%S')
    </if>
    <if test="createTimeStart != null and createTimeStart != ''">
      AND  create_time  >= DATE_FORMAT(#{createTimeStart}, '%Y-%m-%d %H:%i:%S')
    </if>
    group by hotel_code,status
    </insert>

  <insert id="impMonUserData" parameterType="com.hotel.admin.model.MrDetail" >
    insert into mr_detail  ( <include refid="User_Column_List"/> )
    SELECT #{reportId}, #{reportMonth}, #{reportSeq},create_id,create_name,
     count(*),  sum(room_num),  sum(total_s_amount), sum(total_t_amount),status
    from biz_puchs
    where  1=1
    <if test="createTimeEnd != null and createTimeEnd != ''">
      and create_time  &lt;=  DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d %H:%i:%S')
    </if>
    <if test="createTimeStart != null and createTimeStart != ''">
      AND  create_time  >= DATE_FORMAT(#{createTimeStart}, '%Y-%m-%d %H:%i:%S')
    </if>
    group by create_id,create_name,status
  </insert>

  <update id="updDeptInfor" parameterType="com.hotel.admin.model.MrDetail">
    update  mr_detail a, sys_user b, sys_dept c
    <set>
      a.dept_id = b.dept_id, a.dept_name = c.name
    </set>
    where a.create_id = b.id and b.dept_id = c.id and a.report_id like '%R0004%'
    <if test="reportMonth != null and reportSeq != ''">
      AND  report_month  = #{reportMonth,jdbcType=VARCHAR}
    </if>
    <if test="reportSeq != null and reportSeq != ''">
      AND  report_seq  = #{reportSeq,jdbcType=VARCHAR}
    </if>
  </update>

  <update id="updHotelName" parameterType="com.hotel.admin.model.MrDetail">
    update  mr_detail a, biz_hotl b
    <set>
      a.hotel_cname = b.hotel_cname, a.hotel_ename = b.hotel_ename
    </set>
    where a.hotel_code = b.hotel_code  and a.report_id like '%R0005%'
    <if test="reportMonth != null and reportSeq != ''">
      AND  a.report_month  = #{reportMonth,jdbcType=VARCHAR}
    </if>
    <if test="reportSeq != null and reportSeq != ''">
      AND  a.report_seq  = #{reportSeq,jdbcType=VARCHAR}
    </if>
  </update>

  <update id="updPandAmt" parameterType="com.hotel.admin.model.MrDetail">
    update  mr_detail
    <set>
      pending_amt = total_settlement_amt
    </set>
    where status ='5'
    <if test="reportMonth != null and reportSeq != ''">
      AND  report_month  = #{reportMonth,jdbcType=VARCHAR}
    </if>
    <if test="reportSeq != null and reportSeq != ''">
      AND  report_seq  = #{reportSeq,jdbcType=VARCHAR}
    </if>
  </update>

  <select id="r0004ReportSelect" parameterType="com.hotel.admin.qo.MrSummaryQo" resultMap="r0004ReportMap">
    select
    dept_name,
		(select SUM(order_num) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND dept_id = a.dept_id AND status IN ('2','5','6')) order_num,
		(select SUM(room_num) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND dept_id = a.dept_id AND status IN ('2','5','6')) room_num,
		(select SUM(total_sell_amt) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND dept_id = a.dept_id AND status IN ('2','5','6')) total_sell_amt,
		(select SUM(total_settlement_amt) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND dept_id = a.dept_id AND status IN ('5')) total_settlement_amt
    from mr_detail a
    where
    report_id = #{reportId,jdbcType=VARCHAR}
    AND
    report_month = #{reportMonth,jdbcType=VARCHAR}
	GROUP BY dept_id,dept_name
  </select>

  <select id="r0005ReportSelect" parameterType="com.hotel.admin.qo.MrSummaryQo" resultMap="r0005ReportMap">
     select
    (case
      when #{local,jdbcType=VARCHAR} =	'1'
      then hotel_cname
      ELSE hotel_ename
      END
    ) hotel_name,
		(select SUM(order_num) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND hotel_code = a.hotel_code AND status IN ('2','5','6')) order_num,
		(select SUM(room_num) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND hotel_code = a.hotel_code AND status IN ('2','5','6')) room_num,
		(select SUM(total_sell_amt) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND hotel_code = a.hotel_code AND status IN ('2','5','6')) total_sell_amt,
		(select SUM(total_settlement_amt) from mr_detail where report_id = #{reportId,jdbcType=VARCHAR} AND report_month = #{reportMonth,jdbcType=VARCHAR} AND hotel_code = a.hotel_code AND status IN ('5')) total_settlement_amt
    from mr_detail a
    where
    report_id = #{reportId,jdbcType=VARCHAR}
    AND
    report_month = #{reportMonth,jdbcType=VARCHAR}
	GROUP BY hotel_code,hotel_cname,hotel_ename


  </select>

</mapper>