<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.SysDictMapper">
    <resultMap id="BaseResultMap" type="com.hotel.admin.model.SysDict">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cn_name" jdbcType="VARCHAR" property="cnName"/>
        <result column="en_name" jdbcType="VARCHAR" property="enName"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="cn_remark" jdbcType="VARCHAR" property="cnRemark"/>
        <result column="en_remark" jdbcType="VARCHAR" property="enRemark"/>
        <result column="sort" jdbcType="DECIMAL" property="sort"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,  cn_name,en_name,code, type,cn_remark,en_remark,parent_id, sort, create_name, create_time, update_name, update_time
  </sql>
    <select id="validateUnique" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
        where code = #{code}
        <choose>
            <when test="type!=null and type!=''">
                AND type = #{type}
            </when>
            <otherwise>
                AND type = "1"
            </otherwise>
        </choose>
        <if test="parentId!=null">
            AND parent_id = #{parentId}
        </if>
    </select>
    <!--<select id="findPageByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_dict
    <where>
        <if test="name!=null and name!=''">
            cn_name like concat('%',#{name},'%') or en_name like concat('%',#{name},'%')
        </if>
    </where>

  </select>-->

</mapper>