<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.SysParaConfigMapper">

  <resultMap id="BaseResultMap" type="com.hotel.admin.model.SysParaConfig">
	<id column="para_code" jdbcType="VARCHAR" property="paraCode" />
	<id column="para_sub_code1" jdbcType="VARCHAR" property="paraSubCode1" />
	<id column="para_sub_code2" jdbcType="VARCHAR" property="paraSubCode2" />
	<result column="para_value1" jdbcType="VARCHAR" property="paraValue1" />
	<result column="para_value2" jdbcType="VARCHAR" property="paraValue2" />
	<result column="para_value3" jdbcType="VARCHAR" property="paraValue3" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

  <select id="findKeyValue" parameterType="com.hotel.admin.model.SysParaConfig" resultMap="BaseResultMap">
    select * from sys_para_config where 1=1
    <if test="paraCode != null">
     and para_code = #{paraCode,jdbcType=VARCHAR}
    </if>
    <if test="paraSubCode1 != null">
     AND para_sub_code1 = #{paraSubCode1,jdbcType=VARCHAR}
    </if>
    <if test="paraSubCode2 != null">
      AND para_sub_code2 = #{paraSubCode2,jdbcType=VARCHAR}
    </if>
    <if test="paraValue1 != null">
      AND para_value1 = #{paraValue1,jdbcType=VARCHAR}
    </if>
    <if test="paraValue2 != null">
      AND  para_value2 = #{paraValue2,jdbcType=VARCHAR}
    </if>
    <if test="paraValue3 != null">
      AND para_value3 = #{paraValue3,jdbcType=VARCHAR}
    </if>
    <if test="remark != null">
      AND remark = #{remark,jdbcType=VARCHAR}
    </if>
  </select>
  
</mapper>