<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.admin.mapper.SysRoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.hotel.admin.model.SysRoleMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="menu_id" jdbcType="BIGINT" property="menuId"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_id, menu_id, create_name, create_time, update_name, update_time
  </sql>

    <select id="findRoleMenus" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByRoleId" parameterType="java.lang.Long">
    delete from sys_role_menu
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByRoleIds">
        delete from sys_role_menu
        where role_id in
        <foreach collection="ids" item="itm" open="(" separator="," close=")">
            #{itm}
        </foreach>
    </delete>
</mapper>