<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.admin.mapper.WrDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.admin.model.WrDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="report_month" property="reportMonth" jdbcType="VARCHAR" />
    <result column="report_seq" property="reportSeq" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="room_code" property="roomCode" jdbcType="VARCHAR" />
    <result column="in_date_start" property="inDateStart" jdbcType="VARCHAR" />
    <result column="out_date_end" property="outDateEnd" jdbcType="VARCHAR" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="passport" property="passport" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email_address" property="emailAddress" jdbcType="VARCHAR" />
    <result column="adult_num" property="adultNum" jdbcType="INTEGER" />
    <result column="child_num" property="childNum" jdbcType="INTEGER" />
    <result column="c_num" property="cNum" jdbcType="INTEGER" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="total_s_amount" property="totalSAmount" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="last_crt_time" property="lastCrtTime" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="R0002ResultMap" type="com.hotel.admin.dto.WrDetailDto">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="in_date_start" property="inDateStart" jdbcType="VARCHAR" />
    <result column="total_s_amount" property="totalSAmount" jdbcType="VARCHAR" />
    <result column="total_t_amount" property="totalTAmount" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="sum_s_amount" property="sumSAmount" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="R0003ResultMap" type="com.hotel.admin.dto.WrR0003DetailDto">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="hotel_name" property="hotelName" jdbcType="VARCHAR" />
    <result column="room_type" property="roomType" jdbcType="VARCHAR" />
    <result column="in_date_start" property="inDateStart" jdbcType="VARCHAR" />
    <result column="total_t_amount" property="totalTAmount" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_name" property="updateName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="WrPendAmtTotlDto" type="com.hotel.admin.dto.WrPendAmtTotlDto">
    <result column="sumTotlSell" property="sumTotlSell" jdbcType="DOUBLE" />
    <result column="sumTotlSettle" property="sumTotlSettle" jdbcType="DOUBLE" />
    <result column="sumTotl" property="sumTotl" jdbcType="DOUBLE" />

  </resultMap>



  <sql id="Base_Column_List" >
    report_id, report_month, report_seq, order_code, hotel_code,hotel_cname,hotel_ename, room_code, in_date_start,
    out_date_end,p_name, passport, birth, phone, email_address, adult_num, child_num,  room_num,
    currency, total_s_amount,total_t_amount, remark, status,create_id, create_name, dept_id, dept_name, create_time, update_name,
    update_time, last_crt_time, hotel_name, pop_num,day_num,confirm_name, room_type
  </sql>
  <sql id="Select_Column_List" >
   bp.order_code, h.hotel_code,h.hotel_cname, h.hotel_ename, bp.room_code, bp.in_date_start, bp.out_date_end, bp.p_name, bp.passport, bp.birth, bp.phone, bp.email_address,
   bp.adult_num, bp.child_num, bp.room_num, bp.currency, bp.total_s_amount,bp.total_t_amount, bp.remark, bp.status, bp.create_id, bp.create_name,
   pt.id, pt.name, bp.create_time, bp.update_name, bp.update_time, bp.last_crt_time, bp.hotel_name,(bp.adult_num + bp.child_num),(TO_DAYS(bp.out_date_end) - TO_DAYS(bp.in_date_start)),bp.confirm_name,r.room_type
  </sql>
  <insert id="impWeekData" parameterType="com.hotel.admin.model.WrDetail" >

    insert into wr_detail( <include refid="Base_Column_List"/> )
       SELECT #{reportId}, #{reportMonth}, #{reportSeq},
       <include refid="Select_Column_List"/>  from
      biz_room r JOIN biz_puchs bp  ON r.room_code=bp.room_code
      JOIN biz_hotl h ON r.hotel_code =h.hotel_code JOIN sys_user s ON bp.create_id=s.id
      join sys_dept pt on pt.id = s.dept_id
    <where>
      <if test="createTimeEnd != null and createTimeEnd != ''">
        AND bp.create_time  &lt;=  DATE_FORMAT(#{createTimeEnd}, '%Y-%m-%d %H:%i:%S')
      </if>
      <if test="createTimeStart != null and createTimeStart != ''">
        AND  bp.create_time  &gt;= DATE_FORMAT(#{createTimeStart}, '%Y-%m-%d %H:%i:%S')
      </if>
      <if test="status != null and status != ''">
        AND bp.status = #{status}
      </if>
    </where>

    </insert>



    <select id="findR0002Page" parameterType="com.hotel.admin.qo.WrSummaryQo" resultMap="R0002ResultMap">
      select
      a.order_code,
      (case
      when #{local,jdbcType=VARCHAR} =	'1'
      then a.hotel_cname
      ELSE a.hotel_ename
      END
      ) hotel_name,
      (
      select
      (CASE WHEN #{local,jdbcType=VARCHAR} =	'1'
      THEN b.cn_name
      ELSE b.en_name
      END
      )
      from sys_dict c join sys_dict b on c.id = b.parent_id
      where c.code = 'ROOM_TYPE' and b.code = (SELECT room_type from biz_room where room_code = a.room_code)
      ) room_type,
      a.in_date_start,
      a.total_s_amount,
      a.create_time,
      a.create_name,
      a.update_time,
      a.update_name,
      (select
      (CASE WHEN #{local,jdbcType=VARCHAR} =	'1'
      THEN b.cn_name
      ELSE b.en_name
      END
      )
      from sys_dict c join sys_dict b on c.id = b.parent_id
      where c.code = 'ROOM_STATUS' and b.code = a.status) status,
      a.dept_name
      from
      wr_detail a
      where
      a.report_id =#{reportId,jdbcType=VARCHAR}
      AND a.report_month = #{reportMonth,jdbcType=VARCHAR}
      and a.report_seq=#{reportSeq,jdbcType=VARCHAR}
      and a.dept_id = #{deptId,jdbcType=VARCHAR}

      UNION all
      SELECT
      (case
      when #{local,jdbcType=VARCHAR} =	'1'
      then '销售总价求和'
      ELSE 'xiaoshou total prise:'
      END
      ) order_code,
      (
      select
      SUM(total_s_amount)
      from wr_detail
      where
      report_id =#{reportId,jdbcType=VARCHAR}
      AND report_month = #{reportMonth,jdbcType=VARCHAR}
      and report_seq=#{reportSeq,jdbcType=VARCHAR}
      and dept_id = #{deptId,jdbcType=VARCHAR}
      ) hotel_name,
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      ''
      FROM DUAL
      UNION ALL

      SELECT
      (case
      when #{local,jdbcType=VARCHAR} =	'1'
      then '待结算金额：'
      ELSE 'no account prise:'
      END
      ) order_code,
      (select SUM(total_s_amount) from wr_detail
      where
      report_id =#{reportId,jdbcType=VARCHAR}
      AND report_month = #{reportMonth,jdbcType=VARCHAR}
      and report_seq=#{reportSeq,jdbcType=VARCHAR}
      and dept_id = #{deptId,jdbcType=VARCHAR}
      and status = '5' ) hotel_name,
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      '',
      ''
      FROM DUAL
  </select>

  <select id="findR0003Page" parameterType="com.hotel.admin.qo.WrSummaryQo" resultMap="R0003ResultMap">
    select
    a.order_code,
    (case
    when #{local,jdbcType=VARCHAR} =	'1'
    then a.hotel_cname
    ELSE a.hotel_ename
    END
    ) hotel_name,
    (
    select
    (CASE WHEN #{local,jdbcType=VARCHAR} =	'1'
    THEN b.cn_name
    ELSE b.en_name
    END
    )
    from sys_dict c join sys_dict b on c.id = b.parent_id
    where c.code = 'ROOM_TYPE' and b.code = (SELECT room_type from biz_room where room_code = a.room_code)
    ) room_type,
    a.in_date_start,
    a.total_t_amount,
    a.create_time,
    a.create_name,
    a.update_time,
    a.update_name,
    (select
    (CASE WHEN #{local,jdbcType=VARCHAR} =	'1'
    THEN b.cn_name
    ELSE b.en_name
    END
    )
    from sys_dict c join sys_dict b on c.id = b.parent_id
    where c.code = 'ROOM_STATUS' and b.code = a.status) status,
    a.dept_name
    from
    wr_detail a
    where
    a.report_id =#{reportId,jdbcType=VARCHAR}
    AND a.report_month = #{reportMonth,jdbcType=VARCHAR}
    and a.report_seq=#{reportSeq,jdbcType=VARCHAR}
    and a.hotel_code = #{hotelCode,jdbcType=VARCHAR}
    order by a.create_time
    UNION all
    SELECT
    (case
    when #{local,jdbcType=VARCHAR} =	'1'
    then '销售结算求和'
    ELSE 'xiaoshou total prise:'
    END
    ) order_code,
    (
    select
    SUM(total_s_amount)
    from wr_detail
    where
    report_id =#{reportId,jdbcType=VARCHAR}
    AND report_month = #{reportMonth,jdbcType=VARCHAR}
    and report_seq=#{reportSeq,jdbcType=VARCHAR}
    and a.hotel_code = #{hotelCode,jdbcType=VARCHAR}
    ) hotel_name,
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    ''
    FROM DUAL
    UNION ALL
    SELECT
    (case
    when #{local,jdbcType=VARCHAR} =	'1'
    then '待结算金额：'
    ELSE 'no account prise:'
    END
    ) order_code,
    (select SUM(total_t_amount) from wr_detail
    where
    report_id =#{reportId,jdbcType=VARCHAR}
    AND report_month = #{reportMonth,jdbcType=VARCHAR}
    and report_seq=#{reportSeq,jdbcType=VARCHAR}
    and a.hotel_code = #{hotelCode,jdbcType=VARCHAR}
    and status = '5' ) hotel_name,
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    '',
    ''
    FROM DUAL
  </select>


  <select id="findWrQuery" parameterType="com.hotel.admin.qo.WrSummaryQo" resultMap="WrPendAmtTotlDto">
    select
        sum(total_s_amount) sumTotlSell,
        sum(total_t_amount) sumTotlSettle,
        sum(total_s_amount-total_t_amount) sumTotl
    from
    wr_detail a
    where
        a.report_id = #{reportId,jdbcType=VARCHAR} and
        report_month = #{reportMonth,jdbcType=VARCHAR} and
        report_seq=#{reportSeq,jdbcType=VARCHAR} and
        a.status ='5'
  </select>

</mapper>