<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.admin.mapper.WrSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.admin.model.WrSummary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="report_txt" property="reportTxt" jdbcType="VARCHAR" />
    <result column="report_month" property="reportMonth" jdbcType="VARCHAR" />
    <result column="report_seq" property="reportSeq" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, report_id, report_txt, report_month, report_seq, creat_time
  </sql>

  <select id="findPage" resultMap="BaseResultMap" parameterType="com.hotel.admin.model.WrSummary">
    SELECT
      <include refid="Base_Column_List"/>
    FROM wr_summary a
    WHERE 1=1
    <if test="reportId != null and reportId !=''">
      AND a.report_id = #{reportId,jdbcType=VARCHAR}
    </if>
    <if test="reportTxt != null and reportTxt !=''">
      AND a.report_txt like concat('%',#{reportTxt,jdbcType=VARCHAR},'%')
    </if>
    <if test="reportMonth != null and reportMonth !=''">
      AND a.report_month = #{reportMonth,jdbcType=VARCHAR}
    </if>
    <if test="reportSeq != null and reportSeq !=''">
      AND a.report_seq = #{reportSeq,jdbcType=VARCHAR}
    </if>
  </select>


</mapper>